<template>
  <div class="d-inline-flex ml-auto">
    <v-menu bottom left v-model="isOpen" @shutdown="closeMenu()">
      <template v-slot:activator="{ on }">
        <v-btn
          icon
          v-on="on"
          @click="isOpen = !isOpen"
          color="primary"
          class="ml-auto"
        >
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>
      <v-list>
        <PopupEditInstitution
          v-if="type !== 'teacher' && type !== 'superadmin'"
          class="bottom"
          :institutionData="item"
          :hasLicense="!!item.license"
          :parent="!!item.parentInstitution"
          :user="user"
        />

        <PopupEditLicense
          v-if="
            user.role === 'superAdmin' &&
            type !== 'teacher' &&
            type !== 'superadmin'
          "
          class="bottom"
          :institutionData="item"
          :hasLicense="!!item.license"
          :parent="!!item.parentInstitution"
          :user="user"
        />

        <PopupEditContact
          v-if="type !== 'teacher' && type !== 'superadmin'"
          class="bottom"
          :institutionData="item"
          :hasLicense="!!item.license"
          :parent="!!item.parentInstitution"
          :user="user"
        />

        <PopupEditTeacher
          v-else-if="type === 'teacher'"
          :teacher="{ name: item.name, type: type, id: item.id }"
          :teacherData="item"
          :hasLicense="!!item.license"
        />
        <PopupEditAdmin
          v-else
          :admin="{ name: item.name, type: type, id: item.id }"
          :adminData="item"
          :hasLicense="!!item.license"
        />

        <v-list-item @click="inviteUser(item.email)">
          re-invite account
        </v-list-item>

        <PopupLockAccount
          v-if="
            user.role === 'superAdmin' &&
            (item.role === 'school' || item.role === 'otherBusiness')
          "
          :institutionId="item.id"
          :instName="item.name"
          :instituionData="item"
          :isLocked="item.isLockedDueToLicenseChange"
        />

        <PopupRemoveInstitution
          v-if="type !== 'teacher' && type !== 'superadmin'"
          :institutionId="item.id"
          :instName="item.name"
        />

        <PopupRemoveTeacher
          v-else-if="type === 'teacher'"
          :teacherId="item.id"
          :teacherName="item.firstName + ' ' + item.lastName"
        />

        <PopupRemoveAdmin
          v-else
          :id="item.id"
          :name="item.firstName + ' ' + item.lastName"
        />
      </v-list>
    </v-menu>
  </div>
</template>

<script>
import AccountService from '@/services/accountService'
export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
    user: {
      type: Object,
    },
    type: {
      required: true,
      type: String,
    },
  },
  data() {
    return {
      isOpen: false,
    }
  },

  methods: {
    closeMenu() {
      this.isOpen = false
    },
    inviteUser(email) {
      this.$store.dispatch('institutionStore/inviteAccount', email)
    },
  },
}
</script>

