<template>
  <v-card elevation="24" rounded>
    <v-card-title>
      <v-text-field
        v-model="search"
        :class="$vuetify.breakpoint.name !== 'sm' ? 'search' : 'search-sm'"
        @input="onSearch"
        prepend-inner-icon="mdi-magnify"
        label="Search by name or email"
        single-line
        hide-details
        filled
        rounded
        clearable
      ></v-text-field>
      <PopupAddNewAdmin class="ml-6" />
    </v-card-title>

    <v-divider></v-divider>

    <v-data-table
      disable-sort
      :items="allAdmins"
      :itemsPerPage="countPerPage"
      :server-items-length="totalCount"
      :footer-props="{
        'items-per-page-options': [10, 20, 50],
      }"
      @update:page="updatePage"
      @update:items-per-page="updateItemsPerPage"
    >
      <template v-slot:header="header">
        <thead>
          <tr class="text-uppercase">
            <th>Admin name</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>
      </template>

      <template v-slot:item="{ item }">
        <tr>
          <td>
            <div class="table-item-name">
              {{ item.name || item.firstName + ' ' + item.lastName }}
            </div>

            <a
              @click.stop=""
              class="text-decoration-none"
              :href="'mailto:' + item.email"
              >{{ item.email }}</a
            >
          </td>

          <td class="text-right">
            <TablesActions :item="item" :user="user" :type="'superadmin'" />
          </td>
        </tr>
      </template>
    </v-data-table>

    <v-alert v-if="error">
      {{ error }}
    </v-alert>
  </v-card>
</template>

<script>
import _ from 'lodash'
import { mapGetters, mapActions } from 'vuex'
export default {
  props: {
    user: {
      type: Object,
      required: true,
    },
  },

  computed: {
    name: () => 'Admin',

    ...mapGetters('adminStore', {
      allAdmins: 'allAdmins',
      totalCount: 'totalCount',
      countPerPage: 'countPerPage',
    }),
  },

  watch: {
    institutionType: {
      handler: 'getAdmins',
      immediate: false,
      deep: true,
    },
  },

  data() {
    return {
      search: '',
      error: '',
      currentDate: Date.now() / 1000,
      limit: this.$route.query.limit || 10,
      offset: this.$route.query.offset || 1,
    }
  },

  async created() {
    await this.getAdmins()
  },

  methods: {
    ...mapActions('adminStore', { getFromStore: 'getAdmins' }),
    async getAdmins() {
      await this.getFromStore({
        input: this.search,
        limit: this.limit,
        offset: this.offset,
      })
      this.$emit('dataFetched')
    },
    updatePage(val) {
      this.offset = val
      this.getAdmins()
    },
    updateItemsPerPage(val) {
      this.limit = val
      this.getAdmins()
    },

    onSearch() {
      this.getAdmins()
    },
  },
}
</script>
