<template>
  <v-data-table
    :headers="headers"
    :items="institutions"
    :search="search"
    :loading="!institutions"
    disable-sort
    :footer-props="{
      'items-per-page-options': [10, 20, 50, -1],
    }"
  >
    <template v-slot:header.name="{ header }">
      {{ institutionTypeName }} name
    </template>

    <template v-slot:header.accounts="{ header }">
      <span class="text-center" v-if="parentType === 'schoolDistrict'">
        Used teacher accounts
      </span>
      <span class="text-center" v-else> Used school accounts </span>
    </template>
    <template v-slot:item="{ item }">
      <tr
        :class="user.role === 'superAdmin' ? 'is--clickable' : ''"
        @click="
          user.role === 'superAdmin'
            ? $router.push({
                path: '/administration/' + item.id,
                params: {
                  slug: item.id,
                },
              })
            : null
        "
      >
        <td>
          <div>{{ item.name }}</div>
          <a :href="'mailto:' + item.email">{{ item.email }}</a>
        </td>

        <td>
          {{
            !item.license
              ? 'No license yet'
              : item.license.ownerName === item.name
              ? 'Self owned'
              : item.license.ownerName
          }}
        </td>

        <td>
          {{ item.registrationStatus }}
        </td>

        <td>
          <v-chip
            outlined
            v-if="item.role !== 'school' && item.role !== 'otherBusiness'"
            class="ma-2 text-center"
            :class="
              isLicenseAccountsValid(item) ? 'status-orange' : 'status-grey'
            "
          >
            {{
              !item.license
                ? '0 OF 0'
                : item.license.usedSchoolAccountsPerDistrict +
                  ' OF ' +
                  item.license.totalSchoolAccounts
            }}
          </v-chip>

          <v-chip
            v-else
            class="ma-2"
            :color="
              item.license &&
              item.license.usedTeacherAccounts >=
                item.license.totalTeacherAccounts
                ? 'status-orange'
                : 'status-grey'
            "
          >
            {{
              !item.license
                ? '0 OF 0'
                : (item.license.usedTeacherAccounts || '0') +
                  ' OF ' +
                  item.license.totalTeacherAccounts
            }}
          </v-chip>
        </td>
        <td class="text-right">
          <TablesActions :item="item" :user="user" :type="item.role" />
        </td>
      </tr>
    </template>

    <template v-slot:no-data>
      There are no {{ institutionTypeName }}'s at the moment.<br />You can add
      some by clicking the "Add new" button
    </template>

    <template v-slot:loading>
      <v-skeleton-loader
        type="table-heading, table-row-divider@6, table-tfoot"
      ></v-skeleton-loader>
    </template>
  </v-data-table>
</template>
<script>
export default {
  props: {
    institutions: {
      type: Array,
      required: false,
    },
    institutionTypeName: {
      required: true,
    },
    parentType: {
      required: true,
    },
    user: {
      required: true,
    },
  },

  data() {
    return {
      limit: this.$route.query.limit || 30,
      offset: this.$route.query.offset || 1,
      search: null,
      error: null,
      currentDate: Date.now() / 1000,
      headers: [
        { value: 'name' },
        { text: 'license owner', value: 'owner' },
        { text: 'account status', value: 'regStatus' },
        { text: '', value: 'accounts' },
        { text: 'actions', value: 'act', align: 'right', sortable: false },
      ],
    }
  },

  methods: {
    isLicenseAccountsValid(item) {
      return (
        item.license &&
        item.license.usedSchoolAccounts >= item.license.totalSchoolAccounts
      )
    },
  },
}
</script>
