<template>
  <v-data-table :headers="headers" :items="teachers" :search="search">
    <template v-slot:item="{ item }">
      <tr>
        <td>
          <div>{{ item.firstName + ' ' + item.lastName }}</div>
          <a :href="'mailto:' + item.email">{{ item.email }}</a>
        </td>
        <td>
          <div>
            {{ item.phone }}
          </div>
        </td>

        <td>
          {{ item.title }}
          <!-- <a :href="'mailto:' + item.email">{{ item.email }}</a> -->
        </td>

        <td>
          {{ item.registrationStatus }}
          <!-- <a :href="'mailto:' + item.email">{{ item.email }}</a> -->
        </td>

        <td class="text-right">
          <TablesActions :item="item" :user="user" :type="'teacher'" />
        </td>
      </tr>
    </template>

    <template v-slot:no-data>
      There are no Teachers's at the moment.<br />You can add
      some by clicking the "Add new" button
    </template>

    <template v-slot:loading>
      <v-skeleton-loader
        type="table-heading, table-row-divider@6, table-tfoot"
      ></v-skeleton-loader>
    </template>
  </v-data-table>
</template>
<script>
export default {
  props: {
    teachers: {
      type: Array,
      required: true,
    },
    user: {
      required: true,
    },
  },
  data() {
    return {
      limit: this.$route.query.limit || 30,
      offset: this.$route.query.offset || 1,
      search: null,
      error: null,
      currentDate: Date.now() / 1000,
      headers: [
        { text: 'Teacher name', value: 'name' },
        { text: 'Phone number', value: 'phone' },
        { text: 'Title', value: 'role' },
        { text: 'Account status', value: 'resStatus' },
        { text: 'actions', value: 'act', align: 'right', sortable: false },
      ],
    }
  },
  methods: {},
}
</script>
