<template>
  <v-card elevation="24" rounded>
    <v-card-title>
      <v-text-field
        v-model="search"
        :class="$vuetify.breakpoint.name !== 'sm' ? 'search' : 'search-sm'"
        @input="onSearch"
        prepend-inner-icon="mdi-magnify"
        label="Search by name or email"
        single-line
        hide-details
        filled
        rounded
        clearable
      ></v-text-field>

      <PopupAddNewInstitution
        class="ml-6"
        v-if="institutionType !== 'teacher'"
        :institutionType="institutionType"
        :institutionName="institutionName"
      />
    </v-card-title>

    <v-divider></v-divider>

    <v-data-table
      disable-sort
      :items="allInstitutions"
      :itemsPerPage="countPerPage"
      :page="page"
      :server-items-length="totalCount"
      :footer-props="{
        'items-per-page-options': [10, 20, 50],
      }"
      @update:page="updatePage"
      @update:items-per-page="updateItemsPerPage"
    >
      <template v-slot:header="header">
        <thead>
          <tr class="text-uppercase">
            <th>{{ institutionName }} name</th>
            <th>License status</th>
            <th>License owner</th>
            <th>Account status</th>
            <th v-if="institutionType === 'teacher'">account owner</th>
            <th
              v-if="
                institutionType !== 'teacher' &&
                institutionType !== 'school' &&
                institutionType !== 'otherBusiness'
              "
              class="text-center"
            >
              school acc. used
            </th>
            <th
              v-if="
                institutionType === 'school' ||
                institutionType === 'otherBusiness'
              "
              class="text-center"
            >
              teacher acc. used
            </th>
            <th class="text-right">actions</th>
          </tr>
        </thead>
      </template>

      <template v-slot:item="{ item }">
        <tr
          :class="institutionType !== 'teacher' ? 'is--clickable' : ''"
          @click="handleRowClick(item)"
        >
          <td>
            <div class="table-item-name">
              {{ item.name || item.firstName + ' ' + item.lastName }}
            </div>

            <a
              @click.stop=""
              class="text-decoration-none"
              :href="'mailto:' + item.email"
              >{{ item.email }}</a
            >
          </td>

          <td>
            <v-chip
              small
              class="mb-1"
              :class="
                getStatusClass(item.license, item.isLockedDueToLicenseChange)
              "
              text-color="white"
            >
              <v-icon
                color="white "
                small
                v-if="item.isLockedDueToLicenseChange"
                >mdi-lock</v-icon
              >
              {{ getStatus(item.license, item.isLockedDueToLicenseChange) }}
            </v-chip>
            <div
              v-if="item.license && item.license.expiryDate"
              class="text-subheader-1"
            >
              EXP. DATE
              {{ item.license && getFormatedDate(item.license.expiryDate) }}
            </div>
          </td>

          <td>
            {{
              !item.license
                ? 'No license yet'
                : item.license.ownerName === item.name
                ? 'Self owned'
                : item.license.ownerName
            }}
          </td>

          <td v-if="institutionType === 'teacher'">
            {{
              item.parentInstitution && item.parentInstitution.name
                ? item.parentInstitution.name
                : 'no owner'
            }}
          </td>

          <td>
            {{ item.registrationStatus }}
          </td>

          <td
            v-if="
              institutionType !== 'teacher' &&
              institutionType !== 'school' &&
              institutionType !== 'otherBusiness'
            "
            class="text-center"
          >
            <v-chip
              outlined
              class="ma-2"
              :class="
                item.license &&
                item.license.usedSchoolAccounts >=
                  item.license.totalSchoolAccounts
                  ? 'status-orange'
                  : 'status-green'
              "
            >
              {{
                !item.license
                  ? '0 / 0'
                  : (item.license.usedSchoolAccounts || 0) +
                    ' / ' +
                    item.license.totalSchoolAccounts
              }}
            </v-chip>
          </td>

          <td
            v-if="
              institutionType === 'school' ||
              institutionType === 'otherBusiness'
            "
            class="text-center"
          >
            <v-chip
              outlined
              class="ma-2"
              :class="
                item.license &&
                item.license.usedTeacherAccounts >=
                  item.license.totalTeacherAccounts
                  ? 'status-orange'
                  : 'status-green'
              "
            >
              {{
                !item.license
                  ? '0 / 0'
                  : item.license.usedTeacherAccounts +
                    ' / ' +
                    item.license.totalTeacherAccounts
              }}
            </v-chip>
          </td>
          <td class="text-right">
            <TablesActions :item="item" :user="user" :type="institutionType" />
          </td>
        </tr>
      </template>
    </v-data-table>
    <v-alert v-if="error">
      {{ error }}
    </v-alert>
  </v-card>
</template>

<script>
import _ from 'lodash'
import { mapGetters, mapActions } from 'vuex'
export default {
  props: {
    institutionName: {
      type: String | undefined,
      required: false,
    },

    institutionType: {
      type: String | undefined,
      required: false,
    },

    user: {
      type: Object,
      required: true,
    },
  },

  computed: {
    name: () => this.institutionName,

    ...mapGetters('institutionStore', {
      allInstitutions: 'allInstitutions',
      totalCount: 'totalCount',
      countPerPage: 'countPerPage',
      page: 'page',
    }),
  },

  watch: {
    institutionType: {
      handler: 'getInstitutions',
      immediate: false,
      deep: true,
    },
  },

  data() {
    return {
      search: '',
      error: '',
      currentDate: Date.now() / 1000,
      limit: this.$route.query.limit || 10,
      offset: this.$route.query.offset || this.page || 1,
    }
  },

  async created() {
    await this.getInstitutions()
  },

  methods: {
    ...mapActions('institutionStore', { getFromStore: 'getInstitutions' }),
    getInstitutions() {
      this.offset = this.page

      this.getFromStore({
        type: this.institutionType,
        input: this.search,
        limit: this.limit,
        offset: this.offset,
      })
    },

    handleRowClick(item) {
      if (this.institutionType !== 'teacher') {
        this.$router.push({
          path: '/administration/' + item.id,
          params: {
            slug: item.id,
          },
        })
      }
    },

    updatePage(val) {
      this.$store.dispatch('institutionStore/setPage', val)
      this.getInstitutions()
    },

    updateItemsPerPage(val) {
      this.limit = val
      this.getInstitutions()
    },

    onSearch() {
      this.getInstitutions()
    },
  },
}
</script>
