<template>
  <v-row justify="center" align="center">
    <v-col>
      <v-row>
        <v-col cols="12" xl="12" lg="12">
          <v-breadcrumbs :items="breadcrumbs" large></v-breadcrumbs>
        </v-col>
        <v-col cols="12" xl="8" lg="10">
          <Details
            v-if="institutionById.id && this.user.role === 'superAdmin'"
            :institution="{ ...institutionType }"
            :details="{ ...institutionById }"
          />
          <DetailsSimple
            v-if="institutionById.id && this.user.role !== 'superAdmin'"
            :institution="{ ...institutionType }"
            :details="{ ...institutionById }"
          />
        </v-col>
        <v-col cols="12" xl="8" lg="10">
          <v-subheader class="section">Manage child Institutions</v-subheader>
          <v-card elevation="24" rounded>
            <v-card-title>
              <v-text-field
                v-model="search"
                @input="onSearch"
                class="mr-6"
                prepend-inner-icon="mdi-magnify"
                :label="
                  'Search by ' + childrenType &&
                  childrenType.value + ' name or email'
                "
                single-line
                hide-details
                filled
                rounded
                clearable
              ></v-text-field>

              <PopupAddNewTeacher
                v-if="childrenType && childrenType.key === 'teacher'"
                :isDisabled="isAddTeacherDisabled"
                :institutionType="childrenType && childrenType.key"
                :institutionName="childrenType && childrenType.value"
                :parent="institutionById"
              />
              <PopupAddNewInstitution
                v-if="childrenType && childrenType.key !== 'teacher'"
                :isDisabled="isAddSchoolDisabled"
                :institutionType="childrenType && childrenType.key"
                :institutionName="childrenType && childrenType.value"
                :parent="institutionById"
              />
            </v-card-title>
            <v-divider></v-divider>
            <TablesChildTeacher
              v-if="childrenType && childrenType.key === 'teacher'"
              :teachers="childInstitutions"
              :user="user"
            />
            <TablesChildInstitution
              v-if="
                institutionType &&
                childrenType &&
                childrenType.key !== 'teacher'
              "
              :institutions="childInstitutions"
              :parentType="institutionType.key"
              :institutionTypeName="childrenType && childrenType.value"
              :user="user"
            />

            <v-alert v-if="error">
              {{ error }}
            </v-alert>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
<script>
import _ from 'lodash'
import { mapGetters, mapActions } from 'vuex'

export default {
  async asyncData({ params }) {
    const slug = params
    return { slug }
  },

  middleware: ['checkRole'],

  data() {
    return {
      institution: {},
      institutionType: Object,
      childrenType: Object,
      breadcrumbs: [],
      error: null,
      options: {},
      limit: this.$route.query.limit || 30,
      offset: this.$route.query.offset || 1,
      currentDate: Date.now() / 1000,
      search: null,
      isAddSchoolDisabled: false,
      isAddTeacherDisabled: false,
    }
  },
  computed: {
    ...mapGetters('institutionStore', {
      institutionById: 'institutionById',
      childInstitutions: 'allInstitutions',
      roles: 'roles',
    }),
    user: function () {
      return this.$auth.$storage.getUniversal('user')
    },
  },
  watch: {
    childInstitutions: {
      handler: 'refreshInstitutionData',
      imediate: false,
      deep: false,
    },
  },
  async created() {
    await this.getInstitution()
  },

  methods: {
    ...mapActions('institutionStore', {
      getInstitutionById: 'getInstitutionById',
      getInstitutions: 'getInstitutions',
    }),
    async refreshInstitutionData() {
      await this.getInstitutionById(this.slug.institution)
      this.checkUsedSchoolAccounts()
      this.checkUsedTeacherAccounts()
    },
    async getInstitution() {
      await this.getInstitutionById(this.slug.institution)
      this.institutionType = await this.getType(
        this.institutionById.role,
        this.roles
      )
      this.childrenType = await this.getChildType(
        this.institutionById.role,
        this.roles
      )

      await this.getChildInstitutions()
      this.checkUsedSchoolAccounts()
      this.checkUsedTeacherAccounts()
      this.getBreadcrumbs(this.institutionById)
    },
    getBreadcrumbs(ob) {
      if (this.user.role === 'superAdmin') {
        if (ob.parentInstitution) {
          this.getBreadcrumbs(ob.parentInstitution)
        } else {
          this.breadcrumbs.push({
            text: 'Adminisitration',
            href: '/administration/',
          })
        }
        const thisParent = { text: ob.name, href: '/administration/' + ob.id }
        this.breadcrumbs.push(thisParent)
      } else {
        this.breadcrumbs.push(
          {
            text: 'Adminisitration',
            href: '/administration/',
            disabled: true,
          },
          {
            text: this.institutionById.name,
            href: '/administration/' + this.institutionById.id,
          }
        )
      }
    },
    async getChildInstitutions() {
      await this.getInstitutions({
        type: this.childrenType.key,
        input: this.search,
        limit: this.limit,
        offset: this.offset,
        parentId: this.institutionById.id,
      })
    },
    onSearch() {
      this.getChildInstitutions()
    },
    checkUsedSchoolAccounts() {
      this.isAddSchoolDisabled =
        this.childrenType.key === 'school' &&
        this.institutionById.license &&
        this.institutionById.license.usedSchoolAccounts >=
          this.institutionById.license.totalSchoolAccounts
    },
    checkUsedTeacherAccounts() {
      this.isAddTeacherDisabled =
        this.institutionById.license &&
        this.institutionById.license.usedTeacherAccounts >=
          this.institutionById.license.totalTeacherAccounts
    },
    formatDate() {
      const date = this.institution.license.expiryDate
      this.expiryDate = new Date(date * 1000).toISOString()
      this.expiryDateFormated = this.getFormatedDate(date)
    },
  },
}
</script>
