<template>
  <v-row justify="start" align="start">
    <v-col cols="12">
      <v-skeleton-loader
        v-if="breadCrumbs.length < 1"
        width="300px"
        :types="{ 'table-row': 'table-cell@3' }"
        type="table-row"
      ></v-skeleton-loader>
      <v-breadcrumbs :items="breadCrumbs" large> </v-breadcrumbs>
    </v-col>
    <v-col cols="12">
      <v-skeleton-loader
        v-if="!lesson.name"
        :width="'400px'"
        :height="'50px'"
        type="image"
      ></v-skeleton-loader>

      <h1 class="heading">{{ lesson.name }}</h1>
    </v-col>
    <v-col cols="12" lg="8" xl="7">
      <v-skeleton-loader
        v-if="!lesson.description"
        :width="'100%'"
        :height="'50px'"
        type="sentences"
      ></v-skeleton-loader>
      <p>{{ lesson.description }}</p>
    </v-col>
    <v-col v-if="lesson" cols="12" lg="8" xl="7" class="mr-auto">
      <v-skeleton-loader
        v-if="!url"
        :height="'600px'"
        type="image"
      ></v-skeleton-loader>
      <iframe
        v-if="url"
        class="presentation mb-12"
        allowfullscreen
        height="600px"
        width="100%"
        id="test"
        :src="url.url"
      ></iframe>
    </v-col>
    <v-col v-if="!(lesson && lesson.embededResources)">
      <v-skeleton-loader
        class="mb-12"
        :height="'320px'"
        type="card-heading, image"
      ></v-skeleton-loader>
      <v-skeleton-loader
        type="card-heading, list-item-avatar@3"
      ></v-skeleton-loader>
    </v-col>
    <v-col v-if="lesson && lesson.embededResources">
      <v-subheader class="px-2 pt-1 pb-1 subheadline text-uppercase">{{
        lesson.embededResources[0].title ||
        'Mission replicated in real-life situation'
      }}</v-subheader>

      <iframe
        class="mb-12"
        v-if="lesson.embededResources"
        width="100%"
        height="320px"
        :src="this.lesson.embededResources[0].url"
        style="border: none; overflow: hidden"
        scrolling="no"
        frameborder="0"
        allowfullscreen="true"
      ></iframe>

      <v-subheader class="px-2 pt-1 pb-1 subheadline text-uppercase"
        >Downloadable Materials</v-subheader
      >
      <v-list class="pa-0" outlined>
        <v-list-item
          link
          v-for="item in lesson.downloadableResources"
          :key="item.name"
          @click="getResource(item.id, item.name)"
        >
          <v-list-item-action class="mr-2">
            <v-icon color="primary"
              >mdi-file-download-outline</v-icon
            > </v-list-item-action
          ><v-list-item-title>{{ item.name }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-col>
  </v-row>
</template>

<script>
import _ from 'lodash'
import { mapGetters, mapActions } from 'vuex'
import LessonsService from '@/services/lessonsService'

export default {
  async asyncData({ params }) {
    const slug = params
    return { slug }
  },

  middleware: ['checkRole'],

  computed: {
    ...mapGetters('lessonsStore', {
      lesson: 'lesson',
    }),

    user: function () {
      return this.$auth.$storage.getUniversal('user')
    },
  },

  data() {
    return {
      url: '',
      breadCrumbs: [],
    }
  },

  async created() {
    await this.getLesson(this.slug.id)
    this.getPresentation()
    this.getBreadCrumbs()
  },

  methods: {
    ...mapActions('lessonsStore', {
      getLesson: 'getLesson',
    }),

    async getResource(id, name) {
      const pdf = await LessonsService.downloadResource(id)
      const pdfBlob = new Blob([pdf], { type: 'application/pdf' })
      const data = window.URL.createObjectURL(pdfBlob)
      const link = document.createElement('a')
      link.href = data
      link.download = name
      link.click()
    },

    async getPresentation() {
      this.url = await LessonsService.getPresentation(this.slug.id)
    },

    getBreadCrumbs() {
      this.breadCrumbs.push(
        {
          text: 'MODULES',
          href: '/',
        },
        {
          text: this.lesson.parent.name.toUpperCase(),
          href: '/module/' + this.lesson.parent.id,
        },
        {
          text: this.lesson.name.toUpperCase(),
          disabled: true,
        }
      )
    },
  },
}
</script>
