<template>
  <v-row justify="center" align="center">
    <v-col cols="12" xl="12">
      <v-breadcrumbs large>
        <v-breadcrumbs-item> Administration </v-breadcrumbs-item>
      </v-breadcrumbs>
    </v-col>

    <v-col cols="12" xl="8" lg="10" class="mr-auto">
      <v-tabs v-model="tab" center-active class="mb-3">
        <v-tabs-slider></v-tabs-slider>

        <v-tab
          v-for="item in roles"
          :key="'tab-' + item.key"
          @click="setTable(item.key)"
        >
          {{ item.value }}
        </v-tab>
        <!-- <v-tab @click="setTable('superAdmin')"> Admins </v-tab> -->
      </v-tabs>

      <div>
        <Tables
          v-if="roles && roleType !== 'superAdmin'"
          :institutionType="roles[tab] && roles[tab].key"
          :institutionName="roles[tab] && roles[tab].value"
          :user="user"
        ></Tables>

        <TablesAdmin
          v-else-if="
            user && user.role === 'superAdmin' && roleType === 'superAdmin'
          "
          :user="user"
        ></TablesAdmin>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import _ from 'lodash'
import { mapGetters } from 'vuex'

export default {
  middleware: 'checkRole',

  computed: {
    user: function () {
      return this.$auth.$storage.getUniversal('user')
    },

    ...mapGetters('institutionStore', {
      roles: 'roles',
    }),
  },

  watch: {
    roles: {
      handler: 'mountTables',
    },
  },

  data() {
    return {
      breadcrumbs: [],
      tab: 0,
      componentPath: '',
      loading: true,
      roleType: '',
    }
  },

  mounted() {
    this.mountTables()
  },

  methods: {
    mountTables() {
      this.roleType = this.$route.query.type || 'esa'
      const curTab = this.findCurrentTab(this.roleType)
      this.tab = curTab
      this.loading = false
    },

    findCurrentTab(type) {
      if (this.roleType) {
        return _.findIndex(this.roles, function (t) {
          return t.key === type
        })
      }

      return this.roles[0]
    },

    setTable(key) {
      this.roleType = key
      this.$store.dispatch('institutionStore/setPage', 1)
      this.$router.replace({
        path: '/administration/',
        query: { type: key },
      })

      this.loading = false
    },
  },
}
</script>

