
<template>
  <v-dialog v-model="dialog" width="600" persistent scrollable>
    <template v-slot:activator="{ on, attrs }">
      <v-list-item v-bind="attrs" v-on="on">
        <v-list-item-title @click="closeMenu()">edit admin</v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title class="headline"> Edit Admin</v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-form>
          <ValidationObserver ref="admin" slim>
            <AdminForm
              :key="'adminData-' + childKey"
              :adminData="adminData"
              :parent="!!parent"
              @updateData="updateData($event)"
            />
          </ValidationObserver>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="cancel"> Cancel </v-btn>
        <v-btn color="primary" :loading="isLoading" @click="edit"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { mapGetters, mapActions } from 'vuex'
import AdminForm from '../Form/adminTemp.vue'
import _ from 'lodash'
export default {
  components: {
    ValidationObserver,
    ValidationProvider,
    AdminForm,
  },
  props: {
    adminData: {
      required: true,
      type: Object,
    },

    parent: {
      required: false,
    },
  },

  data() {
    return {
      dialog: false,
      isLoading: false,
      dropdownMenu: false,
      expiryDate: null,
      expiryDateFormated: null,
      error: null,
      croppaData: {},
      croppaControls: false,
      admin: {},
      childKey: 0,
    }
  },

  mounted() {
    this.admin = _.cloneDeep(this.adminData)
  },

  methods: {
    ...mapActions('adminStore', ['saveAdmin']),

    updateData(data) {
      _.set(this.admin, data.name, data.val)
    },

    async setAdmin() {
      this.admin = await _.cloneDeep(this.adminData)
    },

    edit() {
      this.saveAdmin(this.admin)
      this.dialog = false
    },

    closeMenu() {
      this.$parent.$parent.$parent.$emit('shutdown')
    },

    cancel() {
      this.dialog = false
    },
  },
}
</script>
