
<template>
  <v-dialog v-model="dialog" width="600" persistent scrollable>
    <template v-slot:activator="{ on, attrs }">
      <v-list-item v-bind="attrs" v-on="on">
        <v-list-item-title @click="closeMenu()">edit account</v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title class="headline">
        Edit {{ institutionData.name }}
      </v-card-title>

      <v-card-text max-height="60vh">
        <v-form>
          <v-row>
            <v-col sm="12">
              <ValidationObserver ref="step1" slim>
                <AccountForm
                  v-if="institutionData"
                  :key="'accountData-' + childKey"
                  :institutionName="institution.name"
                  :institutionType="institution.role"
                  :institutionData="institutionData"
                  :parent="!!parent"
                  @updateData="updateData($event)"
                />
              </ValidationObserver>
            </v-col>
            <v-col cols="12">
              <v-alert v-if="errorMsg" dense text type="error">{{
                errorMsg
              }}</v-alert>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="cancel()"> CANCEL </v-btn>

        <v-btn color="primary" :loading="isLoading" @click="edit"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { mapGetters, mapActions } from 'vuex'
import AccountForm from './../Form/accountTemp.vue'
import _ from 'lodash'
export default {
  components: {
    ValidationObserver,
    ValidationProvider,
    AccountForm,
  },
  props: {
    user: {
      type: Object,
      required: true,
    },
    parent: {
      required: false,
    },
    institutionData: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
      dialog: false,
      isLoading: false,
      dropdownMenu: false,
      childKey: 0,
      institution: { ...this.initInstitutionData() },
    }
  },

  computed: {
    ...mapGetters('institutionStore', { errorMsg: 'error' }),
  },

  async created() {
    this.resetError()
    this.institution = _.cloneDeep(await this.institutionData)
  },

  methods: {
    initInstitutionData() {
      return {
        email: '',
        name: '',
        address: {
          street: '',
          city: '',
          state: '',
          postCode: '',
        },
      }
    },

    closeMenu() {
      this.$parent.$parent.$parent.$emit('shutdown')
    },

    ...mapActions('institutionStore', {
      editInstitution: 'editInstitution',
      resetError: 'setErrorEmpty',
    }),

    updateData(data) {
      _.set(this.institution, data.name, data.val)
    },

    async edit() {
      this.resetError()
      const isValid = await this.$refs.step1.validate()

      if (isValid) {
        this.editInstitution({
          data: _.cloneDeep(this.institution),
          licenseId: this.institution.license && this.institution.license.id,
        })
          .then((res) => {
            this.isLoading = false
            // this.resetError()
            this.dialog = this.hasError()
          })
          .catch((error) => {
            this.isLoading = false
            // this.errorMsg = error.message
          })
      }
    },

    cancel() {
      this.dialog = false
      this.resetError()
    },

    hasError() {
      return !_.isEmpty(this.errorMsg)
    },
  },
}
</script>
