
<template>
  <v-dialog v-model="dialog" width="600" persistent scrollable>
    <template v-slot:activator="{ on, attrs }">
      <v-list-item v-bind="attrs" v-on="on">
        <v-list-item-title @click="closeMenu()">edit license</v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title class="headline">
        Edit {{ institutionData.license.ownerName }} License
      </v-card-title>

      <v-card-text max-height="60vh">
        <v-form>
          <v-row>
            <v-col sm="12">
              <div class="d-flex mb-6">
                <label class="mr-6">
                  License start date
                  {{
                    institutionData.license &&
                    getFormatedDate(institutionData.license.expiryDate)
                  }}
                </label>
                <label>
                  License end date
                  {{
                    institutionData.license &&
                    getFormatedDate(institutionData.license.expiryDate)
                  }}
                </label>
              </div>

              <ValidationObserver ref="step2" slim>
                <LicenseForm
                  v-if="institutionData"
                  :key="'licenseData-' + childKey"
                  :institutionName="institutionData.name"
                  :institutionType="institutionData.role"
                  :institutionData="institutionData"
                  :parent="!!parent"
                  @updateData="updateData($event)"
                />
              </ValidationObserver>
            </v-col>
            <v-col cols="12">
              <v-alert v-if="errorMsg" dense text type="error">{{
                errorMsg
              }}</v-alert>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="cancel()"> CANCEL </v-btn>

        <v-btn color="primary" :loading="isLoading" @click="edit"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { mapGetters, mapActions } from 'vuex'
import LicenseForm from '../Form/licenseTemp.vue'
import _ from 'lodash'
export default {
  components: {
    ValidationObserver,
    ValidationProvider,
    LicenseForm,
  },
  props: {
    user: {
      type: Object,
      required: true,
    },
    parent: {
      required: false,
    },
    institutionData: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
      dialog: false,
      isLoading: false,
      dropdownMenu: false,
      childKey: 0,
      licenseData: {},
    }
  },

  computed: {
    ...mapGetters('institutionStore', { errorMsg: 'error' }),
  },

  async created() {
    this.resetError()
    this.licenseData = _.cloneDeep(await this.institutionData.license) || {}
    //TODO remove when new modules are introduced
  },

  methods: {
    closeMenu() {
      this.$parent.$parent.$parent.$emit('shutdown')
    },

    ...mapActions('institutionStore', {
      updateLicense: 'updateLicense',
      addNewLicense: 'addNewLicense',
      resetError: 'setErrorEmpty',
    }),

    updateData(data) {
      _.set(this[data.dataType], data.name, data.val)
    },

    async edit() {
      this.resetError()
      const isValid = await this.$refs.step2.validate()

      if (isValid) {
        this.licenseData.modules = [
          this.$store.state.lessonsStore.availableModules[0].key,
        ]

        if (this.institutionData.license) {
          this.updateLicense({
            data: _.cloneDeep(this.licenseData),
            id: this.institutionData.id,
          })
            .then((res) => {
              this.isLoading = false
              // this.resetError()
              this.dialog = this.hasError()
            })
            .catch((error) => {
              this.isLoading = false
              // this.errorMsg = error.message
            })
        } else {
          this.addNewLicense({
            data: _.cloneDeep(this.licenseData),
            id: this.institutionData.id,
            email: this.institutionData.email,
          })
            .then((res) => {
              this.isLoading = false
              // this.resetError()
              this.dialog = this.hasError()
            })
            .catch((error) => {
              this.isLoading = false
              // this.errorMsg = error.message
            })
        }
      }
    },

    cancel() {
      this.dialog = false
      this.resetError()
    },

    hasError() {
      return !_.isEmpty(this.errorMsg)
    },
  },
}
</script>
