
<template>
  <v-dialog v-model="dialog" width="600" persistent scrollable>
    <template v-slot:activator="{ on, attrs }">
      <v-btn v-on="on" v-bind="attrs" color="primary" outlined
        >Edit account</v-btn
      >
    </template>
    <v-card>
      <v-card-title class="headline"> Edit Account data </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-form>
          <ValidationObserver ref="profile" slim>
            <ProfileForm
              :key="'userData-' + childKey"
              :userData="userData"
              :parent="!!parent"
              @updateData="updateData($event)"
            />
          </ValidationObserver>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="cancel"> Cancel </v-btn>
        <v-btn color="primary" :loading="isLoading" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { mapGetters, mapActions } from 'vuex'
import ProfileForm from './../Form/profileTemp.vue'
import _ from 'lodash'
export default {
  components: {
    ValidationObserver,
    ValidationProvider,
    ProfileForm,
  },
  props: {
    userData: {
      required: true,
      type: Object,
    },

    parent: {
      required: false,
    },
  },

  data() {
    return {
      dialog: false,
      isLoading: false,
      dropdownMenu: false,
      expiryDate: null,
      expiryDateFormated: null,
      error: null,
      croppaData: {},
      croppaControls: false,
      user: {},
      childKey: 0,
    }
  },

  async created() {
    this.user = _.cloneDeep(await this.userData)
  },

  methods: {
    ...mapActions('userStore', ['saveUserData']),

    updateData(data) {
      _.set(this.user, data.name, data.val)
    },

    save() {
      this.saveUserData(this.user)
      this.dialog = false
    },

    cancel() {
      this.dialog = false
    },

    showExceedMsg() {
      this.error = 'File size limit is 2mb.'
    },

    showTypeMismatchMsg() {
      this.error = 'Only image file types are allowed.'
    },
  },
}
</script>
