<template>
  <ValidationObserver ref="observer" v-slot="{ invalid }">
    <v-dialog v-model="dialog" width="600" persistent scrollable>
      <template v-slot:activator="{ on, attrs }">
        <v-list-item v-bind="attrs" v-on="on">
          <v-list-item-title @click="closeMenu()">edit</v-list-item-title>
        </v-list-item>
      </template>
      <v-card>
        <v-card-title class="headline">
          Edit {{ teacherData.firstName }}
          {{ teacherData.lastName }}</v-card-title
        >

        <v-card-text height="60vh">
          <v-form>
            <v-row>
              <v-col sm="12" md="12">
                <TeacherForm :teacherData="teacherData" />
                <!-- <v-alert v-if="errorMsg" dense text type="error">{{
                  errorMsg
                }}</v-alert> -->
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" :loading="isLoading" @click="saveData">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </ValidationObserver>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { mapGetters, mapActions } from 'vuex'
import TeacherForm from './../Form/teacherTemp.vue'
import _ from 'lodash'
export default {
  components: {
    ValidationObserver,
    ValidationProvider,
    TeacherForm,
  },
  props: {
    teacher: Object,

    teacherData: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
      dialog: false,
      isLoading: false,
      dropdownMenu: false,
      expiryDate: null,
      expiryDateFormated: null,
      editData: {
        email: '',
        title: '',
        firstName: '',
        lastName: '',
        phone: '',
      },
    }
  },

  async created() {
    this.editData = _.cloneDeep(await this.teacherData)
  },

  methods: {
    ...mapActions('institutionStore', ['saveTeacherData']),

    closeMenu() {
      this.$parent.$parent.$parent.$emit('shutdown')
    },

    updateData(data) {
      _.set(this.user, data.name, data.val)
    },

    async saveData() {
      this.resetError()
      this.isLoading = true
      const isValid = await this.$refs.observer.validate()
      if (isValid) {
        this.saveTeacherData(this.editData).then(() => {
          this.isLoading = false
          // this.dialog = !!this.errorMsg
        })
      } else {
        console.log('FAIL', err)
        this.isLoading = false
        this.dialog = true
      }
    },
  },
}
</script>
