<template>
  <ValidationObserver ref="adminObs">
    <div>
      <v-dialog v-model="dialog" width="600" persistent scrollable>
        <template v-slot:activator="{ on: dialog, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="{ ...dialog }"
            color="primary"
            x-large
            rounded
          >
            <v-icon class="mr-2"> mdi-plus </v-icon>
            Add new Admin
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="headline"> Add new Admin </v-card-title>

          <v-card-text height="60vh">
            <v-form>
              <v-row>
                <v-col sm="12" md="12">
                  <AdminForm
                    @updateData="updateData($event)"
                    :key="'adminTemp' + childKey"
                  />

                  <v-alert v-if="errorMsg" dense text type="error">{{
                    errorMsg
                  }}</v-alert>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="cancel()"> CANCEL </v-btn>
            <v-btn
              color="primary"
              type="submit"
              :loading="isLoading"
              @click="addNew"
            >
              ADD
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </ValidationObserver>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { mapActions, mapGetters } from 'vuex'
import AdminForm from './../Form/adminTemp.vue'

export default {
  components: {
    ValidationObserver,
    ValidationProvider,
    AdminForm,
  },

  data() {
    return {
      dialog: false,
      isLoading: false,
      isDatePickerOpen: false,
      expiryDate: null,
      childKey: 0,
      adminData: { ...this.initAdminData() },
    }
  },
  computed: {
    ...mapGetters('adminStore', { errorMsg: 'error' }),
  },

  methods: {
    initAdminData() {
      return {
        email: '',
        avatarImage: '',
        firstName: '',
        lastName: '',
        phone: '',
      }
    },

    ...mapActions('adminStore', {
      addAdmin: 'addAdmin',
      resetError: 'setErrorEmpty',
    }),

    updateData(data) {
      _.set(this[data.dataType], data.name, data.val)
    },

    async addNew() {
      this.resetError()
      this.isLoading = true

      const data = _.cloneDeep(this.adminData)
      const isValid = await this.$refs.adminObs.validate()

      if (isValid) {
        this.addAdmin(data)
          .then(() => {
            this.isLoading = false
            this.dialog = !!this.errorMsg
            this.resetAdminData()
            this.$refs.adminObs.reset()
          })
          .catch((err) => {
            console.log('FAIL', err)
            this.isLoading = false
            this.dialog = true
          })
      } else {
        this.isLoading = false
      }
    },

    cancel() {
      this.dialog = false
      this.resetAdminData()
      this.resetError()
      this.$refs.adminObs.reset()
    },

    checkError() {
      return _.isEmpty(this.errorMsg)
    },

    resetAdminData() {
      Object.assign(this.$data.adminData, this.initAdminData())
      this.forceRerender()
    },

    forceRerender() {
      this.childKey += 1
    },
  },
}
</script>
