<template>
  <div>
    <v-tooltip top v-if="isDisabled" max-width="300px">
      <template v-slot:activator="{ on }">
        <div v-on="on" class="d-inline-block">
          <v-btn
            :class="$vuetify.breakpoint.name === 'sm' ? 'icon-only' : ''"
            :disabled="isDisabled"
            color="primary"
            rounded
            :fab="$vuetify.breakpoint.name === 'sm'"
            :x-large="$vuetify.breakpoint.name !== 'sm'"
          >
            <v-icon class="mr-2"> mdi-plus </v-icon>
            Add new
          </v-btn>
        </div>
      </template>
      <span
        >The license exeeds the limit of {{ institutionName }} accounts that can
        be added. Please call contact your account owner to expand the
        license.</span
      >
    </v-tooltip>
    <v-dialog
      v-else
      v-model="dialog"
      content-class="stepper-modal"
      width="700"
      scrollable
      persistent
      @click:outside="cancel()"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          :class="$vuetify.breakpoint.name === 'sm' ? 'icon-only' : ''"
          v-bind="attrs"
          v-on="on"
          color="primary"
          :fab="$vuetify.breakpoint.name === 'sm'"
          :x-large="$vuetify.breakpoint.name !== 'sm'"
          rounded
        >
          <v-icon :class="$vuetify.breakpoint.name !== 'sm' ? 'mr-2' : ''">
            mdi-plus
          </v-icon>
          Add new
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="headline justify-center">
          Add new {{ institutionName }}
        </v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-stepper v-model="currentStep" alt-labels>
            <v-stepper-header>
              <v-stepper-step step="1" editable :complete="currentStep > 1">
                Account Details
              </v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step
                v-if="!parent"
                step="2"
                editable
                :complete="currentStep > 2"
              >
                License Details
              </v-stepper-step>

              <v-divider v-if="!parent"></v-divider>

              <v-stepper-step :step="!parent ? '3' : '2'">
                Contact Details
                <small>Optional</small>
              </v-stepper-step>
            </v-stepper-header>

            <v-stepper-items>
              <v-stepper-content step="1">
                <ValidationObserver ref="step1" slim>
                  <AccountForm
                    :key="'accountData-' + childKey"
                    :institutionName="institutionName"
                    :institutionType="institutionType"
                    :parent="!!parent"
                    @updateData="updateData($event)"
                  />
                </ValidationObserver>
              </v-stepper-content>

              <v-stepper-content v-if="!parent" step="2">
                <!-- License Details -->
                <ValidationObserver ref="step2" slim>
                  <LicenseForm
                    :key="'licenseData-' + childKey"
                    :institutionName="institutionName"
                    :institutionType="institutionType"
                    :parent="!!parent"
                    @updateData="updateData($event)"
                  />
                </ValidationObserver>
              </v-stepper-content>

              <v-stepper-content :step="!parent ? '3' : '2'">
                <ValidationObserver :ref="'step' + (!parent ? '3' : '2')" slim>
                  <ContactForm
                    :key="'contactData-' + childKey"
                    :institutionName="institutionName"
                    :institutionType="institutionType"
                    :parent="!!parent"
                    @updateData="updateData($event)"
                  />
                </ValidationObserver>
              </v-stepper-content>
            </v-stepper-items>

            <v-alert v-if="errorMsg" dense text type="error">{{
              errorMsg
            }}</v-alert>
          </v-stepper>
        </v-card-text>

        <v-divider></v-divider>

        <v-spacer></v-spacer>
        <v-card-actions class="d-flex">
          <v-btn color="primary" class="mr-auto" text @click="cancel()">
            CANCEL
          </v-btn>
          <v-btn
            v-if="currentStep > 1"
            color="primary"
            text
            @click="currentStep--"
          >
            Back
          </v-btn>
          <v-btn
            v-if="(!parent && currentStep < 3) || (parent && currentStep < 2)"
            color="primary"
            text
            @click="goToNext()"
          >
            Next
          </v-btn>
          <v-btn
            :disabled="
              (!parent && currentStep < 3) || (parent && currentStep < 2)
            "
            v-if="(!parent && currentStep > 2) || (parent && currentStep > 1)"
            color="primary"
            :loading="isLoading"
            @click="addNewInstitution"
          >
            ADD
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver, version } from 'vee-validate'
import AccountForm from './../Form/accountTemp.vue'
import LicenseForm from './../Form/licenseTemp.vue'
import ContactForm from './../Form/contactTemp.vue'

import _ from 'lodash'
import { mapActions, mapGetters } from 'vuex'
export default {
  components: {
    ValidationObserver,
    ValidationProvider,
    AccountForm,
    LicenseForm,
    ContactForm,
  },
  props: {
    institutionType: {
      required: false,
    },
    institutionName: {
      required: false,
    },
    isDisabled: {
      type: Boolean,
      required: false,
    },
    parent: {
      required: false,
    },
  },
  data() {
    return {
      dialog: false,
      isLoading: false,
      selectedModules: [],
      childKey: 0,
      currentStep: 1,
      isValid: {},
      institutionData: { ...this.initInstitutionData() },
      licenseData: { ...this.initLicenseData() },
    }
  },

  computed: {
    ...mapGetters('institutionStore', { errorMsg: 'error' }),
  },

  async created() {
    this.resetError()
  },

  methods: {
    initInstitutionData() {
      return {
        email: '',
        name: '',
        firstName: '',
        lastName: '',
        shouldSendEmailCopy: false,
        address: {
          street: '',
          city: '',
          state: '',
          postCode: '',
        },
        contact: {
          title: '',
          email: '',
          firstName: '',
          lastName: '',
          phone: '',
        },
      }
    },

    initLicenseData() {
      return {
        durationInMonths: null,
        totalSchoolAccounts: null,
        totalTeacherAccounts: null,
        modules: [],
      }
    },

    ...mapActions('institutionStore', {
      addInstitution: 'addInstitution',
      resetError: 'setErrorEmpty',
    }),

    async goToNext() {
      this.isValid['step' + this.currentStep] = await this.$refs[
        'step' + this.currentStep
      ].validate()

      if (this.isValid['step' + this.currentStep]) {
        this.currentStep++
      }
    },

    async addNewInstitution() {
      const newIData = _.cloneDeep(this.institutionData)

      this.resetError()
      this.isLoading = true

      // TODO: hack to always select first module should be removed when new modules are included
      const user = await this.$auth.$storage.getUniversal('user')
      const availableModules = this.$store.state.lessonsStore.availableModules

      if (user.role === 'superAdmin') {
        this.licenseData.modules = [availableModules[0].key]
      }
      const newLData = _.cloneDeep(this.licenseData)
      const isValid = _.every(this.isValid)

      if (isValid) {
        this.addInstitution({
          type: this.institutionType,
          data: newIData,
          license: newLData,
          parent: this.parent,
        })
          .then((res) => {
            this.isLoading = false
            this.dialog = this.hasError()
            if (!this.errorMsg) {
              this.resetData()
            }
          })
          .catch((error) => {
            this.isLoading = false
            console.log('EROORRRR', error)
          })
      } else {
        this.isLoading = false
      }
    },

    cancel() {
      this.dialog = false
      this.resetError()
      this.resetData()
    },

    hasError() {
      return !_.isEmpty(this.errorMsg)
    },

    updateData(data) {
      _.set(this[data.dataType], data.name, data.val)
    },

    resetData() {
      Object.assign(this.$data.institutionData, this.initInstitutionData())
      Object.assign(this.$data.licenseData, this.initLicenseData())
      this.currentStep = 1
      this.forceRerender()
    },

    forceRerender() {
      this.childKey += 1
    },
  },
}
</script>
