<template>
  <ValidationObserver ref="observer" v-slot="{ invalid }">
    <div>
      <v-tooltip v-if="isDisabled" top max-width="300px">
        <template v-slot:activator="{ on: tooltip }">
          <div class="d-inline-block" v-on="{ ...tooltip }">
            <v-btn :disabled="isDisabled" color="primary" x-large rounded>
              <v-icon class="mr-2"> mdi-plus </v-icon>
              Add new Teacher
            </v-btn>
          </div>
        </template>
        <span
          >The license exeeds the limit of {{ institution.name }} accounts that
          can be added. Please call contact your account owner to expand the
          license.</span
        >
      </v-tooltip>
      <v-dialog v-else v-model="dialog" width="600" persistent scrollable>
        <template v-slot:activator="{ on: dialog, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="{ ...dialog }"
            color="primary"
            x-large
            rounded
          >
            <v-icon class="mr-2"> mdi-plus </v-icon>
            Add new Teacher
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="headline"> Add new Teacher </v-card-title>

          <v-card-text height="60vh">
            <v-form>
              <v-row>
                <v-col sm="12" md="12">
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="contactFirstName"
                    rules="required"
                  >
                    <v-text-field
                      v-model="teacherData.firstName"
                      label="First name"
                      :error-messages="errors"
                      required
                      outlined
                      dense
                    ></v-text-field>
                  </ValidationProvider>

                  <ValidationProvider
                    v-slot="{ errors }"
                    name="contactLastName"
                    rules="required"
                  >
                    <v-text-field
                      v-model="teacherData.lastName"
                      label="Last name"
                      :error-messages="errors"
                      required
                      outlined
                      dense
                    ></v-text-field>
                  </ValidationProvider>

                  <ValidationProvider
                    v-slot="{ errors }"
                    name="contactEmail"
                    rules="required|noSpaces|emailCustom"
                  >
                    <v-text-field
                      v-model="teacherData.email"
                      label="email"
                      :error-messages="errors"
                      hint="Will be used for login credentials"
                      persistent-hint
                      required
                      outlined
                      dense
                    ></v-text-field>
                  </ValidationProvider>
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="title"
                    rules="required"
                  >
                    <v-text-field
                      v-model="teacherData.title"
                      label="title"
                      :error-messages="errors"
                      hint="ex: 5th grade Math teacher"
                      required
                      outlined
                      dense
                    ></v-text-field>
                  </ValidationProvider>

                  <ValidationProvider
                    v-slot="{ errors }"
                    name="contactPhone"
                    rules="required"
                  >
                    <v-text-field
                      v-model="teacherData.phone"
                      label="phone number"
                      :error-messages="errors"
                      required
                      outlined
                      dense
                    ></v-text-field>
                  </ValidationProvider>
                  <v-alert v-if="errorMsg" dense text type="error">{{
                    errorMsg
                  }}</v-alert>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="cancel()"> CANCEL </v-btn>
            <v-btn
              color="primary"
              type="submit"
              :loading="isLoading"
              @click="addNew"
            >
              ADD
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </ValidationObserver>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  props: {
    isDisabled: {
      type: Boolean,
      required: false,
    },
    institution: Object,
    parent: Object,
  },
  data() {
    return {
      dialog: false,
      isLoading: false,
      isDatePickerOpen: false,
      expiryDate: null,
      teacherData: { ...this.initTeacherData() },
    }
  },
  computed: {
    ...mapGetters('institutionStore', { errorMsg: 'error' }),
  },

  methods: {
    initTeacherData() {
      return {
        email: '',
        title: '',
        firstName: '',
        lastName: '',
        phone: '',
      }
    },
    ...mapActions('institutionStore', {
      addTeacher: 'addTeacher',
      resetError: 'setErrorEmpty',
    }),

    async addNew() {
      this.resetError()
      this.isLoading = true
      const isValid = await this.$refs.observer.validate()
      if (isValid) {
        this.addTeacher({
          data: this.teacherData,
          parentId: this.parent.id,
        })
          .then(() => {
            this.isLoading = false
            this.dialog = !!this.errorMsg
            this.resetTeacherData()
            this.$refs.observer.reset()
          })
          .catch((err) => {
            console.log('FAIL', err)
            this.isLoading = false
            this.dialog = true
          })
      } else {
        this.isLoading = false
      }
    },

    cancel() {
      this.dialog = false
      this.resetTeacherData()
      this.resetError()
      this.$refs.observer.reset()
    },

    setDate() {
      this.licenseData.expiryDate = this.parseDate(this.expiryDate)
      this.isDatePickerOpen = false
    },

    checkError() {
      return _.isEmpty(this.errorMsg)
    },

    resetTeacherData() {
      Object.assign(this.$data.teacherData, this.initTeacherData())
    },
  },
}
</script>
