
<template>
  <v-row>
    <v-col cols="12" sm="12" md="6">
      <v-subheader class="section">Account details</v-subheader>
      <v-text-field
        readonly
        :value="details.name"
        :label="institution.value + ' name'"
      ></v-text-field>
      <v-text-field
        readonly
        :value="details.firstName + ' ' + details.lastName"
        label="Administrator name"
      ></v-text-field>
      <v-text-field
        readonly
        :value="details.email"
        label="Administrator email"
      ></v-text-field>

      <v-subheader class="section">License details</v-subheader>
      <v-text-field
        readonly
        :value="details.license.ownerName"
        :label="'License Owner'"
      ></v-text-field>
      <div class="mb-3 d-flex">
        <div class="d-flex flex-column">
          <label>License status </label>
          <label class="exp-date">
            start. date
            {{ details.license && getFormatedDate(details.license.expiryDate) }}
          </label>
          <label class="exp-date">
            exp. date
            {{ details.license && getFormatedDate(details.license.expiryDate) }}
          </label>
        </div>
        <v-chip
          class="ma-2"
          small
          :class="
            getStatusClass(details.license, details.isLockedDueToLicenseChange)
          "
          text-color="white"
        >
          {{ getStatus(details.license, details.isLockedDueToLicenseChange) }}
        </v-chip>
      </div>
      <div
        class="mb-3"
        v-if="
          (institution.key !== 'otherBusiness' &&
            institution.key !== 'school' &&
            details.parentInstitution !== null) ||
          (institution.key === 'school' && details.parentInstitution !== null)
        "
      >
        <label>School accounts available</label>
        <v-chip
          class="ma-2"
          small
          :class="
            !details.license
              ? 'status-orange'
              : details.license.usedSchoolAccounts <
                details.license.totalSchoolAccounts
              ? 'status-green'
              : 'status-red'
          "
          text-color="white"
        >
          {{
            !details.license
              ? 'no accounts available'
              : details.license.totalSchoolAccounts -
                details.license.usedSchoolAccounts +
                ' OF ' +
                details.license.totalSchoolAccounts
          }}
        </v-chip>
      </div>
      <div
        class="mb-3"
        v-if="
          institution.key === 'school' || institution.key === 'otherBusiness'
        "
      >
        <label>Teacher accounts available</label>
        <v-chip
          class="ma-2"
          small
          :class="
            !details.license
              ? 'status-orange'
              : details.license.usedTeacherAccounts <
                details.license.totalTeacherAccounts
              ? 'status-green'
              : 'status-red'
          "
          text-color="white"
        >
          {{
            !details.license
              ? 'no accounts available'
              : details.license.totalTeacherAccounts -
                details.license.usedTeacherAccounts +
                ' OF ' +
                details.license.totalTeacherAccounts
          }}
        </v-chip>
      </div>
      <!-- <div class="mb-3" v-if="details.license">
        <label>Modules included</label>
        <v-chip
          v-for="(chip, index) in details.license.modules"
          :key="chip.name + index"
          class="ma-2"
          color="#8B83BA"
          text-color="white"
          small
        >
          {{ chip.name }}
        </v-chip>
      </div> -->
    </v-col>
    <v-col sm="12" md="6" v-if="details.license">
      <v-subheader class="section">Contact details</v-subheader>
      <v-text-field
        readonly
        :value="`${details.contact.firstName} ${details.contact.lastName}`"
        label="Contact name"
      ></v-text-field>

      <v-text-field
        readonly
        :value="details.contact.email"
        label="Contact email"
      ></v-text-field>

      <v-text-field
        readonly
        :value="details.contact.phone"
        label="phone number"
      ></v-text-field>
      <v-text-field
        readonly
        :value="`${details.address.street} , ${details.address.city} , ${details.address.postCode} , ${details.address.state}`"
        label="Headquarters Address"
      ></v-text-field>
    </v-col>
  </v-row>
</template>
<script>
export default {
  props: {
    currentDate: {
      type: Number,
      default: Date.now() / 1000,
    },
    institution: {
      type: Object,
      required: false,
    },
    details: {
      type: Object,
      required: false,
    },
  },
}
</script>
