<template>
  <v-row>
    <v-col sm="12" md="12" lg="6">
      <label>
        {{ institution.value + ' name' }}
      </label>
      <h3>{{ details.name }}</h3>

      <div v-if="details.license">
        <label
          >{{
            institution.key === 'school' || institution.key === 'otherBusiness'
              ? 'Teacher'
              : 'School'
          }}
          accounts available</label
        >
        <v-chip
          v-if="
            institution.key !== 'school' && institution.key !== 'otherBusiness'
          "
          class="ma-2"
          :color="
            !details.license
              ? 'status-orange'
              : details.license.usedSchoolAccounts <
                details.license.totalSchoolAccounts
              ? 'status-green'
              : 'status-red'
          "
          small
        >
          {{
            !details.license
              ? 'no accounts available'
              : details.license.totalSchoolAccounts -
                details.license.usedSchoolAccounts +
                ' OF ' +
                details.license.totalSchoolAccounts
          }}
        </v-chip>
        <v-chip
          v-else
          class="ma-2"
          :class="
            !details.license
              ? 'status-orange'
              : details.license.usedTeacherAccounts <
                details.license.totalTeacherAccounts
              ? 'status-green'
              : 'status-red'
          "
          small
        >
          {{
            !details.license
              ? 'no accounts available'
              : details.license.totalTeacherAccounts -
                details.license.usedTeacherAccounts +
                ' OF ' +
                details.license.totalTeacherAccounts
          }}
        </v-chip>
      </div>
    </v-col>
    <v-col>
      <div v-if="details.license">
        <div class="d-flex">
          <div class="d-flex flex-column">
            <label>License status </label>
            <label class="exp-date">
              exp. date
              {{
                details.license && getFormatedDate(details.license.expiryDate)
              }}</label
            >
          </div>
          <v-chip
            class="ma-2"
            :color="
              !details.license
                ? 'status-orange'
                : currentDate < details.license.expiryDate
                ? 'status-green'
                : 'status-red'
            "
            text-color="white"
            small
          >
            {{
              !details.license
                ? 'INACTIVE'
                : currentDate < details.license.expiryDate
                ? 'ACTIVE'
                : 'OVERDUE'
            }}
          </v-chip>
        </div>
      </div>

      <div sm="12" md="12" v-if="details.license">
        <label>Modules included</label>
        <v-chip
          v-for="(chip, index) in details.license.modules"
          :key="chip.name + index"
          class="ma-2"
          color="#8B83BA"
          text-color="white"
          small
        >
          {{ chip.name }}
        </v-chip>
      </div>
    </v-col>
  </v-row>
</template>
<script>
export default {
  props: {
    currentDate: {
      type: Number,
      default: Date.now() / 1000,
    },
    institution: {
      type: Object,
      required: false,
    },
    details: {
      type: Object,
      required: false,
    },
  },
}
</script>

