<template>
  <v-app light>
    <v-main class="auth">
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer class="text-center" app>
      <span
        >Copyright © 2021 Drone Legends™. Drone Legends and the Drone Legends
        Logo are registered trademarks of SSB Sales & Marketing, L.L.C. - All
        Rights Reserved.
      </span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'auth',
}
</script>
