<template>
  <v-app>
    <Navigation :user="user" :userData="userData" :isOpen="isOpen" />
    <v-main>
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-main>
    <!-- <VueFbCustomerChat /> -->
    <v-footer class="text-center" app>
      <span
        >Copyright © 2021 Drone Legends™. Drone Legends and the Drone Legends
        Logo are registered trademarks of SSB Sales & Marketing, L.L.C. - All
        Rights Reserved.
      </span>
    </v-footer>
    <v-snackbar
      v-model="isSnackbarActive"
      v-for="(msg, i) in snackbarMsg"
      :data-index="i"
      :class="'snackbar'"
      :key="i"
      :timeout="timeout"
      @input="clearMsg()"
      top
    >
      <div>
        {{ msg }}
      </div>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="hideMessage(i)">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapGetters('userStore', {
      userData: 'getUser',
      snackbarMsg: 'snackbarMsg',
    }),

    user: function () {
      return this.$auth.$storage.getUniversal('user')
    },
  },
  data() {
    return {
      isSnackbarActive: false,
      timeout: 70000,
      isOpen: false,
    }
  },
  watch: {
    snackbarMsg: {
      handler: 'setSnackbar',
      deep: true,
      immediate: false,
    },
  },
  async beforeCreate() {
    this.$store.dispatch('userStore/getUserData')
    const user = this.$auth.$storage.getUniversal('user')
    if (user && user.role !== 'teacher') {
      await this.$store.dispatch('institutionStore/getRoles')
    }
    //Only superAdmin can control delegation of modules
    if (user && user.role === 'superAdmin') {
      await this.$store.dispatch('lessonsStore/getAvailableModules')
    }
  },
  methods: {
    setSnackbar() {
      if (this.snackbarMsg.length > 0) {
        this.isSnackbarActive = true
      }
    },
    hideMessage(index) {
      this.$store.dispatch('userStore/removeSnackbarMsgByIndex', index)
    },

    clearMsg() {
      this.$store.dispatch('userStore/resetSnackbarMsg')
    },
  },
}
</script>
