<template>
  <v-card-text>
    <p class="help-yourself">
      For all questions related to the Drone Legends STEM Fundamentals
      curriculum please use the form to the right and send us message.<br /><br />
      If you need If you need immediate assistance please call
      <a href="tel:(866) 376-6338">866-DRONEDU (866) 376-6338 </a>, or chat with
      us using the chat app at the bottom right of the screen.
    </p>
  </v-card-text>
</template>
<script>
export default {
  data() {
    return {
      helpData: {
        required: true,
        type: Array,
      },
    }
  },
  async fetch() {
    this.helpData = await fetch('/help/drone.json').then((res) => res.json())
  },
}
</script>

