<template>
  <div>
    <div v-for="(item, i) in helpData" :key="i" class="mb-3">
      <v-card-title class="text-uppercase font-weight-bold">
        {{ item.headline }}
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <ul>
          <li class="mb-3" v-for="(point, i) in item.content" :key="i">
            {{ isObject(point) ? point.headline : point }}
            <ul v-if="isObject(point)">
              <li v-for="(sub, i) in point.subs" :key="i">
                {{ sub }}
              </li>
            </ul>
          </li>
        </ul>
      </v-card-text>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
export default {
  data() {
    return {
      helpData: {
        required: true,
        type: Array,
      },
      panel: 0,
    }
  },
  async fetch() {
    this.helpData = await fetch('/help/drone.json').then((res) => res.json())
  },
  methods: {
    isObject(point) {
      return _.isObject(point)
    },
  },
}
</script>

