<template>
  <v-expansion-panels flat focusable>
    <v-expansion-panel>
      <v-expansion-panel-header class="text-uppercase text-bold">
        Portal headline
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <ul>
          <li>portal troubleshoot description</li>
        </ul>
      </v-expansion-panel-content>
      <v-divider></v-divider>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
<script>
export default {
  data() {
    return {
      helpData: {
        required: true,
        type: Array,
      },
    }
  },
}
</script>

