.v-application{

  .subheadline{
    display: inline-flex !important;
    background-color: white;
    color: $c-prim-d !important;
    border-radius: 6px 6px 0 0 ;
    padding: 0 20px;
  }

  .section {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #999 !important;
  }

  .v-input--is-readonly{

    .v-input__slot{

      &::after, &::before{
        display: none !important;
      }
    }
  }


  .croppa-container {
    background-color: #999;
    border: 2px solid grey;
  }

  .croppa-container:hover {
    cursor: pointer;
    opacity: 1;
    background-color: #777;
  }

  .croppa-remove-button {
    margin-left: -20px;
  }

  .bottom{
    transform: translateY(100%) !important;
  }


  .auth{
    background-image: url('/images/DLauthBack.jpg');
    background-size: cover;
    &-card{
      background: rgba(255, 255, 255, 0.75);
      padding: $spacer * 12;
      border-radius: $spacer *12 $spacer *1;
    }
  }

  .white-text{
    color: white;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  }

  .status-green {
    background-color: #17A578 !important;
    color: white !important;
    &.v-chip--outlined{
      color:#666 !important;
    }
  }

  .status-orange {
    background-color: #E4A025 !important;
    color: white !important;
    &.v-chip--outlined{
      border-color: #E4A025 !important;
      color:#E4A025 !important;
    }

  }

  .status-red {
    background-color: #DD5928 !important;
    color: white !important;

  }


  // data table
  .v-text-field.search{
    max-width: 600px;
    margin-right: auto;
    &-sm{
      max-width: calc(100% - 86px);
    }
  }
  .is--clickable {
    cursor: pointer;
    &:hover{
      background-color: lighten($c-prim-d, 62%) !important;
    }
  }
  .v-data-footer, .v-data-table-header{
    text-transform: uppercase;
  }

  ul.v-breadcrumbs {
    text-transform: uppercase;
    padding-left: 0;
  }
  .v-btn{
    &.icon-only{
      font-size: 0;
    }
  }
  .table-item-name{
    font-size: 1.1em;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
  }

  .v-list-item--link::before {
    background-color: $c-prim-d;
  }

  .help-yourself{
    font-size: 1.4em;
    line-height: 1.4;
  }

  .avatar-initials{
    font-size: 2.5em;
    font-weight: normal;
    color: white;
    background-color: $c-prim-d;
  }
  .v-card__text, .v-card__title, .v-card__subtitle, .v-card__actions {
    padding: $spacer * 3 $spacer * 6 !important;
    word-break: normal !important;
  }

  ///CHIPS
  .avatar{
    border: 3px solid #999 !important;
  }

  .subtitle{
    //
    text-transform: uppercase;
    margin-top: $spacer * 3;
    margin-bottom: $spacer * 3;
  }

  .presentation {
    border: none;
    height: 30vw;
  }

  .v-footer {
    font-size: 14px;
  }

  .exp-date{
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
  }
  .card-img{
    min-height: 12vw;
    height: 12vw;
    max-height: 12vw;
    @media (max-width: 1400px) {
      min-height: 240px;
      height:  240px;
      max-height:  240px;
    }
  }
}

.v-tabs{
  .v-slide-group__prev{
    display: none !important;
  }
}

.v-stepper__step {

  &--active {
    .v-stepper__label {
      color: $c-prim-d !important;
      text-shadow: none !important;
      font-weight: bold;
    }
  }
}

.stepper-modal{
  .v-card__text{
    height: 635px;
  }
}

.wireframe{
  height: 30vh;
  background-color: rgba(0,0,0,0.02);
  border-radius: 12px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: wireframeAnim 4s linear infinite;
    background: rgb(255,255,255);
    background: linear-gradient(87deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.03) 40%, rgba(0,0,0,.03) 60%, rgba(0,0,0,0) 100%);
  }
}
.v-skeleton-loader__list-item-three-line, .v-skeleton-loader__list-item-two-line, .v-skeleton-loader__list-item {
  background-color: transparent !important;
}

@keyframes wireframeAnim {
  0% {
    transform: translateX(-100%);
  }100%{
    transform: translateX(100%);
  }
}
