// This file extends style for navigation which is based on VUETIFY

.main-nav.v-navigation-drawer{
  background: linear-gradient(355deg, $c-nav-back--dark 0%, $c-nav-back--light 120%);
  .v-list-item--disabled{
    opacity: 0.5;
    .v-chip{
      background-color: rgb(black, 0.2)
    }
  }
  .v-list-item__avatar{
    background-color: rgb(black, 0.1);
  }
  .v-list-group{
    background: rgb(white, 0.1);
    .v-list-item__avatar{
      border: 2px solid white;
      background-color: $c-prim-d;
    }
  }
  .profile-menu {
    .v-list-group__items{
      .v-list-item__action {
        margin-right: 22px;
      }
    }
  }
  
  .profile--is-open{
    color: white;
  }
  a{
    color: white;
  }
}

.v-btn.burger-button {
  display: none;
}

.navigation-wrapper{
  display: inline-flex;
}
