<template v-if="institutionData">
  <ValidationProvider ref="step1" slim>
    <h4 v-if="subtitle" class="subtitle">{{ subtitle }}</h4>

    <InputField
      :fieldName="'name'"
      :rules="'required'"
      :label="institutionType + ' name'"
      :initValue="institutionData ? institutionData.name : null"
      @update="updateData('institutionData', 'name', $event)"
    />
    <div class="d-flex">
      <v-flex class="xs-6 mr-1">
        <InputField
          :fieldName="'firstName'"
          :rules="'required'"
          :label="'First name'"
          :initValue="institutionData ? institutionData.firstName : null"
          @update="updateData('institutionData', 'firstName', $event)"
        />
      </v-flex>

      <v-flex class="ml-1">
        <InputField
          :fieldName="'lastName'"
          :rules="'required'"
          :label="'Last name'"
          :initValue="institutionData ? institutionData.lastName : null"
          @update="updateData('institutionData', 'lastName', $event)"
        />
      </v-flex>
    </div>
    <InputField
      :fieldName="'email'"
      :rules="'required|emailCustom|noSpaces'"
      :label="'Admin email address'"
      :hint="'Will be used for login credentials'"
      :initValue="institutionData ? institutionData.email : null"
      @update="updateData('institutionData', 'email', $event)"
    />

    <h5 class="subtitle">Address details</h5>

    <div class="d-flex">
      <v-flex class="xs-6 mr-1">
        <InputField
          :fieldName="'address'"
          :label="'Street address'"
          :initValue="institutionData ? institutionData.address.street : null"
          @update="updateData('institutionData', 'address.street', $event)"
        />
      </v-flex>
      <v-flex class="xs-6 ml-1">
        <InputField
          :fieldName="'city'"
          :label="'City'"
          :rules="'required'"
          :initValue="institutionData ? institutionData.address.city : null"
          @update="updateData('institutionData', 'address.city', $event)"
        />
      </v-flex>
    </div>
    <div class="d-flex">
      <v-flex class="xs-6 mr-1">
        <InputField
          :fieldName="'state'"
          :label="'State'"
          :rules="'required'"
          :initValue="institutionData ? institutionData.address.state : null"
          @update="updateData('institutionData', 'address.state', $event)"
        />
      </v-flex>
      <v-flex class="xs-6 ml-1">
        <InputField
          :fieldName="'postCode'"
          :label="'post code'"
          :rules="'required'"
          :initValue="institutionData ? institutionData.contact.phone : null"
          @update="updateData('institutionData', 'contact.phone', $event)"
        />
      </v-flex>
    </div>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    ValidationObserver,
    ValidationProvider,
  },

  props: {
    institutionType: {
      required: false,
    },

    institutionName: {
      required: false,
    },
    subtitle: {
      type: String,
    },
    institutionData: {
      required: false,
      type: Object,
    },
  },

  computed: {
    ...mapGetters('institutionStore', { errorMsg: 'error' }),
  },

  async created() {
    this.resetError()
  },

  methods: {
    ...mapActions('institutionStore', {
      resetError: 'setErrorEmpty',
    }),

    updateData(dataType, name, value) {
      this.$emit('updateData', { dataType: dataType, name: name, val: value })
    },
  },
}
</script>
