<template>
  <ValidationProvider ref="adminObs" slim>
    <h4 v-if="subtitle" class="subtitle">{{ subtitle }}</h4>

    <div class="d-flex">
      <v-flex class="xs-6 mr-1">
        <InputField
          :fieldName="'firstName'"
          :rules="'required'"
          :label="'First name'"
          :initValue="adminData ? adminData.firstName : null"
          @update="updateData('adminData', 'firstName', $event)"
        />
      </v-flex>

      <v-flex class="ml-1">
        <InputField
          :fieldName="'lastName'"
          :rules="'required'"
          :label="'Last name'"
          :initValue="adminData ? adminData.lastName : null"
          @update="updateData('adminData', 'lastName', $event)"
        />
      </v-flex>
    </div>
    <InputField
      :fieldName="'email'"
      :rules="'required|emailCustom|noSpaces'"
      :label="'Admin email address'"
      :hint="'Will be used for login credentials'"
      :initValue="adminData ? adminData.email : null"
      @update="updateData('adminData', 'email', $event)"
    />
  </ValidationProvider>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    ValidationObserver,
    ValidationProvider,
  },

  props: {
    subtitle: {
      type: String,
      required: false,
    },
    adminData: {
      type: Object,
      required: false,
    },
  },

  computed: {
    ...mapGetters('adminStore', { errorMsg: 'error' }),
  },

  async created() {
    this.resetError()
  },

  methods: {
    ...mapActions('adminStore', {
      resetError: 'setErrorEmpty',
    }),

    updateData(dataType, name, value) {
      this.$emit('updateData', { dataType: dataType, name: name, val: value })
    },
  },
}
</script>
