<template>
  <ValidationProvider ref="step3" slim>
    <h4 v-if="subtitle" class="subtitle">{{ subtitle }}</h4>

    <div class="d-flex">
      <v-flex class="xs-6 mr-1">
        <InputField
          :fieldName="'contactFirstName'"
          :label="'Contact first name'"
          :initValue="
            institutionData ? institutionData.contact.firstName : null
          "
          @update="updateData('institutionData', 'contact.firstName', $event)"
        />
      </v-flex>

      <v-flex class="ml-1">
        <InputField
          :fieldName="'contactLastName'"
          :label="'Contact last name'"
          :initValue="institutionData ? institutionData.contact.lastName : null"
          @update="updateData('institutionData', 'contact.lastName', $event)"
        />
      </v-flex>
    </div>

    <InputField
      :fieldName="'contactTitle'"
      :label="'Contact title'"
      :initValue="institutionData ? institutionData.contact.title : null"
      @update="updateData('institutionData', 'contact.title', $event)"
    />

    <InputField
      :fieldName="'contactEmail'"
      :label="'Contact email'"
      :rules="'emailCustom|noSpaces'"
      :initValue="institutionData ? institutionData.contact.email : null"
      @update="updateData('institutionData', 'contact.email', $event)"
    />

    <InputField
      :fieldName="'contactPhone'"
      :label="'Contact phone number'"
      :initValue="institutionData ? institutionData.contact.phone : null"
      @update="updateData('institutionData', 'contact.phone', $event)"
    />

    <v-checkbox
      v-if="!isEdit"
      class="mt-auto"
      :label="`Send an invitation  copy to my email address`"
      @change="updateData('institutionData', 'shouldSendEmailCopy', $event)"
    ></v-checkbox>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    ValidationObserver,
    ValidationProvider,
  },

  props: {
    institutionType: {
      required: false,
    },

    institutionName: {
      required: false,
    },

    institutionData: {
      required: false,
    },

    subtitle: {
      type: String,
    },

    isEdit: {
      required: false,
      type: Boolean,
    },
  },

  computed: {
    ...mapGetters('institutionStore', { errorMsg: 'error' }),
  },

  async created() {
    this.resetError()
  },

  methods: {
    ...mapActions('institutionStore', {
      resetError: 'setErrorEmpty',
    }),

    updateData(dataType, name, value) {
      this.$emit('updateData', { dataType: dataType, name: name, val: value })
    },
  },
}
</script>
