<template>
  <ValidationProvider ref="step2" slim>
    <h4 v-if="subtitle" class="subtitle">{{ subtitle }}</h4>

    <div>
      <InputField
        :fieldName="'durationInMonths'"
        :rules="'required|numeric'"
        :label="'License duration'"
        :hint="'Duration in months'"
        :suffix="'months'"
        :initValue="
          institutionData ? institutionData.license.durationInMonths : null
        "
        @update="updateData('licenseData', 'durationInMonths', $event)"
      />
      <div
        v-if="
          institutionType !== 'school' && institutionType !== 'otherBusiness'
        "
      >
        <InputField
          :fieldName="'totalSchoolAccounts'"
          :rules="'required|numeric'"
          :label="'School Accounts no.'"
          :initValue="
            institutionData ? institutionData.license.totalSchoolAccounts : null
          "
          @update="updateData('licenseData', 'totalSchoolAccounts', $event)"
        />
      </div>

      <InputField
        :fieldName="'totalTeacherAccounts'"
        :rules="'numeric'"
        :label="'Teacher Accounts no. (optional)'"
        :hint="'Default value is 5 teachers'"
        :initValue="
          institutionData ? institutionData.license.totalTeacherAccounts : null
        "
        @update="updateData('licenseData', 'totalTeacherAccounts', $event)"
      />
    </div>
  </ValidationProvider>
</template>

// <script>
import { ValidationProvider } from 'vee-validate'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    ValidationProvider,
  },

  props: {
    institutionType: {
      required: false,
    },

    institutionName: {
      required: false,
    },

    institutionData: {
      required: false,
    },

    subtitle: {
      type: String,
    },

    parent: {
      type: Boolean,
    },
  },

  data() {
    return {
      // availableModules: [], todo: enable this after the new modules are added
    }
  },

  computed: {
    ...mapGetters('institutionStore', { errorMsg: 'error' }),
  },

  async created() {
    this.resetError()
  },

  methods: {
    ...mapActions('institutionStore', {
      resetError: 'setErrorEmpty',
    }),

    updateData(dataType, name, value) {
      this.$emit('updateData', { dataType: dataType, name: name, val: value })
    },
  },
}
</script>
