
<template>
  <ValidationProvider ref="profile" slim>
    <v-form>
      <Avatar
        :userData="userData"
        @update="updateData('userData', 'avatarImage', $event)"
      />

      <div class="d-flex">
        <v-flex class="xs-6 mr-1">
          <InputField
            :fieldName="'firstName'"
            :rules="'required'"
            :label="'First name'"
            :initValue="userData.firstName"
            @update="updateData('userData', 'firstName', $event)"
          />
        </v-flex>

        <v-flex class="ml-1">
          <InputField
            :fieldName="'lastName'"
            :rules="'required'"
            :label="'Last name'"
            :initValue="userData.lastName"
            @update="updateData('userData', 'lastName', $event)"
          />
        </v-flex>
      </div>
      <InputField
        :fieldName="'email'"
        :rules="'required|emailCustom|noSpaces'"
        :label="'Admin email address'"
        :hint="'Will be used for login credentials'"
        :initValue="userData.email"
        @update="updateData('userData', 'email', $event)"
      />

      <InputField
        :fieldName="'phoneNumber'"
        :rules="'required'"
        :label="'Phone number'"
        :initValue="userData.phone"
        @update="updateData('userData', 'phone', $event)"
      />
    </v-form>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import _ from 'lodash'
export default {
  components: {
    ValidationObserver,
    ValidationProvider,
  },

  props: {
    userData: {
      required: true,
      type: Object,
    },
  },

  data() {
    return {
      error: null,
      croppaData: {},
      croppaControls: false,
    }
  },

  methods: {
    updateData(dataType, name, value) {
      this.$emit('updateData', { dataType: dataType, name: name, val: value })
    },
  },
}
</script>
