<template>
  <ValidationProvider ref="teacherObs" slim>
    <h4 v-if="subtitle" class="subtitle">{{ subtitle }}</h4>

    <InputField
      :fieldName="'title'"
      :rules="'required'"
      :label="'Teacher position'"
      :initValue="teacherData.title"
      @update="updateData('teacherData', 'title', $event)"
    />
    <div class="d-flex">
      <v-flex class="xs-6 mr-1">
        <InputField
          :fieldName="'firstName'"
          :rules="'required'"
          :label="'First name'"
          :initValue="teacherData.firstName"
          @update="updateData('teacherData', 'firstName', $event)"
        />
      </v-flex>

      <v-flex class="ml-1">
        <InputField
          :fieldName="'lastName'"
          :rules="'required'"
          :label="'Last name'"
          :initValue="teacherData.lastName"
          @update="updateData('teacherData', 'lastName', $event)"
        />
      </v-flex>
    </div>
    <InputField
      :fieldName="'email'"
      :rules="'required|emailCustom|noSpaces'"
      :label="'Admin email address'"
      :hint="'Will be used for login credentials'"
      :initValue="teacherData.email"
      @update="updateData('teacherData', 'email', $event)"
    />

    <InputField
      :fieldName="'phoneNumber'"
      :rules="'numbers'"
      :label="'Phone number'"
      :initValue="teacherData.phoneNumber"
      @update="updateData('teacherData', 'phoneNumber', $event)"
    />
  </ValidationProvider>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    ValidationObserver,
    ValidationProvider,
  },

  props: {
    subtitle: {
      type: String,
    },
    teacherData: {
      required: false,
      type: Object,
    },
  },

  computed: {
    ...mapGetters('institutionStore', { errorMsg: 'error' }),
  },

  async created() {
    this.resetError()
  },

  methods: {
    ...mapActions('institutionStore', {
      resetError: 'setErrorEmpty',
    }),

    updateData(dataType, name, value) {
      this.$emit('updateData', { dataType: dataType, name: name, val: value })
    },
  },
}
</script>
