@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;0,700;1,300&display=swap');

// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px
// $spacer: 10px;
$breadcrumbs-padding: 0;
$spacer: 5px;
$grid-gutter: $spacer * 6;
$list-border-radius: $spacer;
$subheader-item-single-height: $spacer * 6;
$subheader-left-padding: 0;
$body-font-family: 'Exo', sans-serif;
$heading-font-family: 'Exo', sans-serif;

//Dialog style override
$dialog-card-text-padding: $spacer * 6;
$dialog-card-actions-padding: $spacer * 3 $spacer * 6;

//Cards style override
$card-text-padding: $spacer * 6;
$card-actions-padding: $spacer * 3 ;
$card-outlined-border-width: 2px;


$container-padding-x: $grid-gutter;

//Form fields
// $text-field-outlined-fieldset-border: 2px solid blue;
$data-table-regular-row-height: 80px;

//stepper style overrides
$stepper-header-elevation: 0;
$stepper-elevation: 0;
$stepper-step-step-icon-font-size: 16px;
$stepper-content-padding: 0;

//tabs style override
$tab-font-weight: bold;

$material-light: (
  'background': #f6f6f6,
  'dividers': rgba(0,0,0, 0.08),

);

$tabs-bar-background-color: transparent;

$skeleton-loader-image-height: 100%;

//
$expansion-panel-active-margin: 0;
$expansion-panel-content-padding: $spacer * 5;


$shadow-key-ambient-opacity: rgba(0,0,0,0.03);
$shadow-key-penumbra-opacity: rgba(0,0,0,0.03);
$shadow-key-umbra-opacity: rgba(0,0,0,0.03);

$snackbar-background-color: #17A578 !important;
$snackbar-content-font-size: 18px !important;
$snackbar-content-font-weight: 600 !important;