<template>
  <div class="container container--fluid pa-sm-0 pa-md-0 pa-lg-0 pa-xl-0 pb-0">
    <v-btn
      class="burger-button d-flex d-sm-none"
      color="primary"
      fab
      @click="isOpen = !isOpen"
    >
      <v-icon>mdi-menu</v-icon>
    </v-btn>

    <v-navigation-drawer
      v-model="isOpen"
      class="main-nav"
      width="300"
      v-if="loggedIn"
      :permanent="$vuetify.breakpoint.smAndUp"
      app
      dark
    >
      <v-img
        contain
        class="ma-4 ml-6 mb-4"
        width="200"
        src="/images/logo.svg"
      ></v-img>

      <v-list rounded>
        <template v-for="(item, i) in items" slim>
          <v-list-item
            v-if="hasAccess(item.if)"
            :key="i"
            :to="item.to + (item.userId ? '/' + item.userId : '')"
            router
            exact
            :disabled="item.soon"
          >
            <v-list-item-avatar size="50">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.title.toUpperCase() }}
                <v-chip class="ml-4" v-if="item.soon" small rounded
                  >SOON</v-chip
                >
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>

      <template v-slot:append>
        <v-list-group
          :value="false"
          class="profile-menu"
          active-class="profile--is-open"
        >
          <template v-if="userData && userData.firstName" v-slot:activator>
            <v-list-item-avatar class="justify-center">
              <v-img
                v-if="userData.avatarImage"
                :src="userData.avatarImage"
              ></v-img>
              <span v-else>
                {{
                  userData.firstName
                    ? userData.firstName[0] + userData.lastName[0]
                    : '?'
                }}
              </span>
            </v-list-item-avatar>

            <v-list-item-title>
              {{ userData.firstName + ' ' + userData.lastName }}
            </v-list-item-title>
          </template>

          <template>
            <v-list-item to="/profile">
              <v-list-item-action>
                <v-icon class="ml-2">mdi-account</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title v-text="'Profile'" />
              </v-list-item-content>
            </v-list-item>
            <v-list-item v-if="user.role === 'superAdmin'" to="/manage-admins">
              <v-list-item-action>
                <v-icon class="ml-2">mdi-shield-account-variant-outline</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title v-text="'Manage DL Admins'" />
              </v-list-item-content>
            </v-list-item>

            <v-list-item @click="logout()">
              <v-list-item-action>
                <v-icon class="ml-2">mdi-logout-variant</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title v-text="'Logout'" />
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list-group>
      </template>
    </v-navigation-drawer>
  </div>
</template>

<script>
import _ from 'lodash'
export default {
  props: {
    user: {
      type: Object,
      required: true,
    },
    userData: {
      type: Object,
    },
  },
  data() {
    return {
      loggedIn: this.$auth.loggedIn,
      isOpen: false,
      items: [
        {
          icon: 'mdi-notebook-outline',
          title: 'Lessons',
          to: '/',
          if: ['superAdmin', 'school', 'teacher'],
          userId: '',
        },
        {
          icon: 'mdi-frequently-asked-questions',
          title: 'Help & support',
          to: '/help-and-support',
          if: ['superAdmin', 'school', 'teacher'],
          userId: '',
        },
        {
          icon: 'mdi-account-cog',
          title: 'Administration',
          to: '/administration',
          if: [
            'superAdmin',
            'esa',
            'schoolDistrict',
            'school',
            'otherBusiness',
          ],
          userId: this.$store.state.institutionStore.userInstitution.id,
        },
        {
          icon: 'mdi-apps',
          title: 'community',
          to: '/community',
          if: [
            'superAdmin',
            'esa',
            'schoolDistrict',
            'school',
            'otherBusiness',
            'teacher',
          ],
          userId: '',
          soon: true,
        },
      ],
    }
  },

  methods: {
    async logout() {
      try {
        await this.$auth.logout('local')
        this.$auth.$storage.removeUniversal('user')
        this.$router.push({ path: '/login' })
      } catch (err) {
        console.log(err.response)
      }
    },
    hasAccess(role) {
      return _.includes(role, this.user.role)
    },
  },
}
</script>
