<template>
  <v-dialog v-model="dialog" width="500">
    <template v-slot:activator="{ on, attrs }">
      <v-list-item v-bind="attrs" v-on="on">
        <v-list-item-title @click="closeMenu()">{{
          isLocked ? 'Unlock account' : 'Lock account'
        }}</v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title class="headline">
        {{ isLocked ? 'Unlock ' : 'Lock ' + instName }}
      </v-card-title>

      <v-card-text>
        Are you sure you want to
        {{ isLocked ? 'Unlock ' : 'Lock ' + instName }} ?
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="empty" text :loading="isLoading" @click="cancel">
          cancel
        </v-btn>
        <v-btn color="error" :loading="isLoading" @click="lockAccount">
          {{ isLocked ? 'Unlock ' : 'Lock ' }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  props: {
    institutionId: String,
    instName: String,
    isLocked: Boolean,
    instituionData: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
      dialog: false,
      isLoading: false,
    }
  },
  methods: {
    ...mapActions('institutionStore', {
      lock: 'lockAccount',
      unlock: 'unlockAccount',
    }),
    closeMenu() {
      this.$parent.$parent.$parent.$emit('shutdown')
    },
    lockAccount() {

      let newData = _.cloneDeep(this.instituionData)
      if (!newData.isLockedDueToLicenseChange) {
        const isLocked = !this.isLocked
        newData.isLockedDueToLicenseChange = isLocked
        this.lock(newData)
      }

      //else {
      //   this.unlockAccount(newData)
      // }
      this.dialog = false
    },
    cancel() {
      this.dialog = false
    },
  },
}
</script>
