<template>
  <v-dialog v-model="dialog" width="500">
    <template v-slot:activator="{ on, attrs }">
      <v-list-item v-bind="attrs" v-on="on">
        <v-list-item-title @click="closeMenu()">remove</v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title class="headline"> Remove {{ instName }} </v-card-title>

      <v-card-text>
        Are you sure you want to remove {{ instName }} ?
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="empty" text :loading="isLoading" @click="cancel">
          cancel
        </v-btn>
        <v-btn color="error" :loading="isLoading" @click="removeInst">
          remove
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  props: {
    institutionId: String,
    instName: String,
  },
  data() {
    return {
      dialog: false,
      isLoading: false,
    }
  },
  methods: {
    ...mapActions('institutionStore', {
      removeInstitution: 'removeInstitution',
    }),
    closeMenu() {
      this.$parent.$parent.$parent.$emit('shutdown')
    },
    removeInst() {
      this.removeInstitution(this.institutionId)
      this.dialog = false
    },
    cancel() {
      this.dialog = false
    },
  },
}
</script>
