<template>
  <v-dialog v-model="dialog" width="400">
    <template v-slot:activator="{ on, attrs }">
      <v-list-item v-bind="attrs" v-on="on">
        <v-list-item-title @click="closeMenu()">remove Admin</v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title class="headline"> Remove Admin {{ name }} </v-card-title>

      <v-card-text> Are you sure you want to remove {{ name }} ? </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text :loading="isLoading" @click="cancel">
          cancel
        </v-btn>
        <v-btn color="error" :loading="isLoading" @click="removeInst">
          remove
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  props: {
    id: {
      required: true,
      type: String,
    },
    name: {
      required: true,
      type: String,
    },
  },
  data() {
    return {
      dialog: false,
      isLoading: false,
    }
  },
  methods: {
    ...mapActions('adminStore', {
      removeAdmin: 'removeAdmin',
    }),
    closeMenu() {
      this.$parent.$parent.$parent.$emit('shutdown')
    },
    removeInst() {
      this.removeAdmin(this.id)
      this.dialog = false
    },
    cancel() {
      this.dialog = false
    },
  },
}
</script>
