<template>
  <validation-observer ref="observer" v-slot="{ invalid }">
    <v-row justify="center" align="center">
      <v-col cols="12" sm="8" md="6" lg="5" xl="5">
        <v-img
          :max-height="100"
          contain
          :src="'/images/DLbrandLogo.png'"
        ></v-img>
        <h1 class="text-center mb-2 white-text">Change Password</h1>
        <h3 class="text-center mb-2 white-text">
          Set new password and confirm in second field.
        </h3>
        <div class="auth-card">
          <v-form>
            <v-alert v-if="isSuccess" type="success"
              >All good! You will be redirected to login page in a
              few...</v-alert
            >
            <ValidationProvider
              name="oldPassword"
              rules="required|passwordSecure"
              ref="oldPassword"
              v-slot="{ errors }"
            >
              <v-text-field
                v-model="oldPassword"
                name="oldPassword"
                type="password"
                :error-messages="errors"
                label="old Password"
                ref="oldPassword"
                required
                background-color="rgba(255,255,255, 0.5)"
                filled
                outlined
                flat
              ></v-text-field>
            </ValidationProvider>
            <ValidationProvider
              name="newPassword"
              rules="required|passwordSecure"
              ref="newPassword"
              v-slot="{ errors }"
            >
              <v-text-field
                v-model="newPassword"
                name="newPassword"
                type="password"
                :error-messages="errors"
                label="New Password"
                ref="newPassword"
                required
                background-color="rgba(255,255,255, 0.5)"
                filled
                outlined
                flat
              ></v-text-field>
            </ValidationProvider>
            <ValidationProvider
              rules="required|passwordSecure|confirmed:newPassword"
              v-slot="{ errors }"
            >
              <v-text-field
                v-model="newPasswordConf"
                label="Confirm Password"
                type="password"
                :error-messages="errors"
                required
                background-color="rgba(255,255,255, 0.5)"
                filled
                outlined
                flat
              ></v-text-field>
            </ValidationProvider>
            <v-alert v-if="error" type="error">{{ error }}</v-alert>
          </v-form>
          <v-btn
            color="primary"
            x-large
            block
            :shaped="true"
            @click="setNewPassword()"
          >
            change password
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </validation-observer>
</template>
<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import AccountService from '@/services/accountService'
export default {
  components: { ValidationProvider, ValidationObserver },
  auth: false,
  layout: 'auth',
  data() {
    return {
      error: '',
      oldPassword: '',
      newPassword: '',
      newPasswordConf: '',
      resetCode: '',
      isSuccess: false,
    }
  },
  methods: {
    async setNewPassword() {
      try {
        await AccountService.changePassword({
          oldPassword: this.oldPassword,
          newPassword: this.newPassword,
          newPasswordConf: this.newPasswordConf,
        })
        this.isSuccess = true
        this.$auth.logout('local')
        setTimeout(() => {
          this.$router.push('/login')
        }, 3000)
      } catch (err) {
        this.isSuccess = false
        this.error =
          err.response.data.Message || 'something went wrong please try again'
        console.log('errors', err.response.data.Message)
      }
    },
  },
}
</script>
