<template>
  <validation-observer ref="observer">
    <v-row justify="center" align="center">
      <v-col cols="12" sm="8" md="8" lg="6">
        <v-img
          :max-height="100"
          contain
          :src="'/images/DLbrandLogo.png'"
        ></v-img>
        <h2 class="text-center white-text">Forgot password?</h2>
        <p class="text-center white-text">
          type your email to get an reset password link
        </p>
        <div class="auth-card">
          <v-form>
            <v-alert v-if="isSuccess" type="success"
              >Hey we sent you the password reset link. Check your mailbox.
            </v-alert>
            <ValidationProvider
              v-slot="{ errors }"
              name="newPassword"
              rules="required|emailCustom"
            >
              <v-text-field
                v-model="email"
                label="E-mail"
                :error-messages="errors"
                background-color="rgba(255,255,255, 0.5)"
                required
                outlined
              ></v-text-field>
            </ValidationProvider>
            <v-alert
              transition="slide-y-transition"
              v-if="error"
              text
              type="error"
              >{{ error }}</v-alert
            >
            <v-btn
              :loading="isLoading"
              color="primary"
              block
              x-large
              @click="resetPassword()"
            >
              Reset password
            </v-btn>
            <div class="d-flex justify-center mt-4">
              <a @click="goBack"> Lost? get back to login page </a>
            </div>
          </v-form>
        </div>
      </v-col>
    </v-row>
  </validation-observer>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
export default {
  components: { ValidationProvider, ValidationObserver },
  auth: false,
  layout: 'auth',
  data() {
    return {
      email: '',
      error: '',
      isSuccess: false,
      isLoading: false,
    }
  },
  methods: {
    goBack() {
      this.$router.push('/login')
    },
    async resetPassword() {
      this.error = ''
      this.isLoading = true
      const isValid = await this.$refs.observer.validate()
      if (isValid) {
        try {
          const response = await this.$axios.$post(
            process.env.API_URL + '/api/account/resetPassword',
            {
              email: this.email,
              url: window.location.origin + '/resetPassword?resetToken=:token',
            }
          )
          this.isSuccess = true
          this.isLoading = false
        } catch (err) {
          this.isSuccess = false
          this.isLoading = false
          this.error =
            err.response.data.message || 'something went wrong please try again'
          console.log('errors', err.response)
        }
      } else {
        this.isLoading = false
      }
    },
  },
}
</script>
