<template>
  <v-row justify="center" align="start">
    <v-col cols="12">
      <v-breadcrumbs class="text-uppercase" large>
        <v-breadcrumbs-item> Help & support </v-breadcrumbs-item>
      </v-breadcrumbs>
    </v-col>
    <v-col cols="12" xl="8" lg="8" class="mr-auto">
      <v-tabs v-model="tab" class="mb-3">
        <v-tabs-slider></v-tabs-slider>

        <v-tab
          v-for="item in tabs"
          :key="'tab-' + item.key"
          @click="setTab(item.key)"
        >
          {{ item.value }}
        </v-tab>
      </v-tabs>
      <v-card :elevation="24">
        <HelpDrone v-if="tab === 0" />
        <HelpCurriculum v-if="tab === 1" />
        <!-- <HelpPortal v-if="tab === 2" /> -->
      </v-card>
    </v-col>
    <v-col cols="12" xl="4" lg="4">
      <ValidationObserver ref="observer" v-slot="{ invalid }">
        <v-card class="mt-12" flat>
          <v-card-title class="text-center text-h6">
            We're here to help!
          </v-card-title>
          <v-card-subtitle
            >Please use this form to send us a question, comment or to report an
            issue. We will respond within 24 hours. If you need If you need
            immediate assistance please call
            <a href="tel:(866)376-6338"
              >866-DRONEDU (866) 376-6338
            </a></v-card-subtitle
          >
          <v-card-text>
            <v-form>
              <ValidationProvider
                v-slot="{ errors }"
                name="contactPurpose"
                rules="required"
              >
                <v-select
                  outlined
                  v-model="type"
                  label="Subject"
                  :items="requestTypes"
                  item-text="value"
                  item-value="key"
                ></v-select>
              </ValidationProvider>
              <ValidationProvider
                v-slot="{ errors }"
                name="email"
                rules="required"
              >
                <v-textarea
                  v-model="message"
                  label="Message"
                  outlined
                  placeholder="adfadfadfadf"
                >
                </v-textarea>
              </ValidationProvider>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              :loading="isLoading"
              x-large
              block
              @click="sendMessage"
              >Send message</v-btn
            >
          </v-card-actions>
          <v-card-text>
            <v-alert v-if="isSuccess" text dense type="success"
              >Thank you for the Inquiry. We will respond as soon as
              possible.</v-alert
            >
            <v-alert v-if="isError" text dense type="error"
              >Something went wrong. Please try again</v-alert
            >
          </v-card-text>
        </v-card>
      </ValidationObserver>
    </v-col>
  </v-row>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import TicketService from '@/services/ticketService'
import _ from 'lodash'

export default {
  middleware: ['checkRole'],
  components: {
    ValidationObserver,
    ValidationProvider,
  },

  watch: {
    roles: {
      handler: 'mountTables',
    },
  },

  data() {
    return {
      breadcrumbs: [],
      tab: null,
      loading: true,
      type: '',
      message: '',
      helpData: [],
      isSuccess: false,
      isLoading: false,
      isError: false,
      tabs: [
        {
          key: 'drone',
          value: 'Tello Drone',
        },
        {
          key: 'curriculum',
          value: 'Curriculum',
        },
        // {
        //   key: 'userGuide',
        //   value: 'User guide',
        // },
      ],
      requestTypes: [
        {
          key: 'question',
          value: 'I have a question',
        },
        {
          key: 'request',
          value: 'I have a request',
        },
        {
          key: 'bug',
          value: 'I want to report a bug',
        },
      ],
    }
  },
  mounted() {
    // this.setTab()
  },
  methods: {
    findCurrentTab(type) {
      if (type) {
        return _.findIndex(this.roles, function (t) {
          return t.key === type
        })
      }

      return this.roles[0]
    },
    setTab(key) {
      this.tab = key
    },
    async sendMessage() {
      this.isLoading = true
      this.isSuccess = false
      this.isError = false

      await TicketService.sendTicket(this.type, this.message)
        .then(() => {
          this.isSuccess = true
          this.isLoading = false
        })
        .catch((err) => (isError = true))
    },
  },
}
</script>

