<template>
  <v-row justify="start" align="start">
    <v-col cols="12">
      <v-breadcrumbs large>
        <v-breadcrumbs-item> LESSON MODULES </v-breadcrumbs-item>
      </v-breadcrumbs>
    </v-col>

    <v-col
      v-if="
        user.role === 'superAdmin' ||
        (userInstitution &&
          userInstitution.license &&
          userInstitution.license.expiryDate > currentDate)
      "
      class="mr-auto"
      cols="12"
      sm="12"
      md="12"
      lg="12"
      xl="10"
    >
      <v-row>
        <!-- <v-col
          v-for="item in lessonModules"
          :key="item.name"
          cols="12"
          sm="12"
          md="6"
          lg="4"
          xl="4"
        >
          <v-hover>
            <template v-slot:default="{ hover }">
              <v-card
                @click="goToLessons(item.id)"
                :elevation="hover ? 24 : 12"
                hover
                rounded
              >
                <v-img
                  v-if="item.image"
                  class="white--text align-end transition-swing"
                  height="180px"
                  :src="item.image"
                >
                </v-img>
                <v-img
                  v-else
                  class="white--text align-end"
                  height="200px"
                  src="/images/dummy.jpg"
                >
                </v-img>
                <v-card-title>{{ item.name }}</v-card-title>

                <v-card-text class="text--primary">
                  <div>{{ item.description }}</div>
                </v-card-text>

                <v-card-actions>
                  <v-btn color="primary" text> GO TO LESSONS </v-btn>
                </v-card-actions>
              </v-card>
            </template>
          </v-hover>
        </v-col> -->
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  middleware: 'checkRole',
  computed: {
    ...mapGetters('lessonsStore', {
      lessonModules: 'lessonModules',
    }),
    ...mapGetters('institutionStore', {
      userInstitution: 'getInstitutionByToken',
    }),
    user: function () {
      return this.$auth.$storage.getUniversal('user')
    },
  },
  data() {
    return {
      isLoading: false,
      currentDate: Date.now() / 1000,
    }
  },
  async created() {
    await this.getModules()
    //hack to redirect to Lessons of Fundamentals module when user gets to the Modules page
    this.$router.push('/module/' + this.lessonModules[0].id)

    if (this.user.role !== 'superAdmin') {
      await this.getInstitutionByToken()
    }
  },
  methods: {
    ...mapActions('lessonsStore', {
      getModules: 'getModules',
    }),
    ...mapActions('institutionStore', {
      getInstitutionByToken: 'getInstitutionByToken',
    }),
    goToLessons(id) {
      this.$router.push({
        name: 'module-slug',
        params: {
          slug: id,
        },
      })
    },
  },
}
</script>
