<template>
  <validation-observer ref="observer" v-slot="{ invalid }">
    <v-row justify="center" align="center">
      <v-col cols="12" sm="8" md="6" lg="5" xl="5">
        <v-img
          :max-height="100"
          contain
          :src="'/images/DLbrandLogo.png'"
        ></v-img>
        <h1 class="text-center mb-2 white-text">Welcome to DL Portal</h1>
        <h3 class="text-center mb-2 white-text">Please login to continue</h3>
        <div class="auth-card">
          <v-form>
            <ValidationProvider
              v-slot="{ errors }"
              name="email"
              rules="required|emailCustom"
            >
              <v-text-field
                v-model="login.email"
                label="E-mail"
                :error-messages="errors"
                background-color="rgba(255,255,255, 0.5)"
                filled
                outlined
                flat
              ></v-text-field>
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="password"
              rules="required"
            >
              <v-text-field
                v-model="login.password"
                :type="'password'"
                :error-messages="errors"
                background-color="rgba(255,255,255, 0.5)"
                label="Password"
                filled
                @keyup.enter="loginUser()"
                outlined
              ></v-text-field>
            </ValidationProvider>
            <v-alert v-if="error" text dense type="error">{{ error }}</v-alert>
          </v-form>
          <v-btn
            :loading="isLoading"
            color="primary"
            x-large
            block
            :shaped="true"
            @click="loginUser()"
          >
            Login
          </v-btn>
          <div class="d-flex justify-center mt-4" justify="center">
            <a class="text-center" @click="goToForgotPasswordPage()"
              >Forgot password?</a
            >
          </div>
        </div>
      </v-col>
    </v-row>
  </validation-observer>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
export default {
  components: { ValidationProvider, ValidationObserver },
  layout: 'auth',
  data() {
    return {
      login: {
        email: '',
        password: '',
      },
      error: '',
      isLoading: false,
    }
  },
  methods: {
    goToForgotPasswordPage() {
      this.$router.push('/forgot-password')
    },
    async loginUser() {
      this.error = ''
      this.isLoading = true
      const isValid = await this.$refs.observer.validate()
      if (isValid) {
        try {
          const response = await this.$auth.loginWith('local', {
            data: this.login,
          })
          const user = {
            firstName: response.data.firstName,
            lastName: response.data.lastName,
            role: response.data.role,
          }
          this.$auth.setUser(user)
          this.$auth.$storage.setUniversal('user', user, true)

          if (user && user.role === 'superAdmin') {
            this.$router.push({ name: 'administration' })
          } else if (user && user.role === 'teacher') {
            await this.$store.dispatch('institutionStore/getInstitutionByToken')
            this.$router.push('/module/f3019138-5c61-4297-ab4d-72eeb22478b0')
          } else {
            this.$router.push(
              '/administration/' +
                this.$store.state.institutionStore.userInstitution.id
            )
          }
          this.isLoading = false
        } catch (err) {
          console.log(err)
          if (err.response) {
            if (err.response.data.errors) {
              this.error = _.valuesIn(err.response.data.errors)
              // this.error.replace(/[]!y]/, ' ')
            } else {
              this.error = err.response.data.message
            }
          } else {
            this.error =
              'Something is wrong with the network. Please try again. If login fails again, send us mail on support@dronelegends.com. or call 609-781-1876.'
          }
          this.isLoading = false
        }
      } else {
        this.isLoading = false
      }
    },
  },
}
</script>
