<template>
  <v-row justify="center" align="center">
    <v-col cols="12" xl="12">
      <v-breadcrumbs large>
        <v-breadcrumbs-item> Manage DL Admins </v-breadcrumbs-item>
      </v-breadcrumbs>
    </v-col>

    <v-col cols="12" xl="8" lg="10" class="mr-auto">
      <TablesAdmin
        v-if="user.role === 'superAdmin'"
        @dataFetched="loading = false"
        :user="user"
      ></TablesAdmin>
    </v-col>
  </v-row>
</template>

<script>
import _ from 'lodash'

export default {
  middleware: 'checkRole',

  computed: {
    user: function () {
      return this.$auth.$storage.getUniversal('user')
    },
  },

  data() {
    return {
      breadcrumbs: [],
      loading: true,
    }
  },
}
</script>

