<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8">
      <v-img :max-height="100" contain :src="'/images/DLbrandLogo.png'"></v-img>
      <h1 class="text-center mb-2 white-text">Privacy policy</h1>
      <v-card>
        <v-card-text>
          <p>
            This Privacy Policy informs you of our policies and procedures
            regarding the collection, use and disclosure of personal information
            we receive from visitors and registered users of Drone Legends
            Educator Portal (this "Site"). This Privacy Policy applies only to
            information that you provide to us through this Site and explains in
            plain language what we do with that information, how we share it,
            and how we handle the content you place. It also explains your
            rights and the choices available to you regarding our use of your
            personal information and how you can access and update this
            information. Our Privacy Policy may be updated from time to time,
            and we will notify you of any material changes by posting the new
            Privacy Policy on the Site at Privacy policy and revising the
            “Effective starting” date at the top of this policy. We encourage
            you to review our Privacy Policy whenever you use this “Site” to
            stay informed about our information practices and the ways you can
            help protect your privacy. If you disagree with any changes to this
            Privacy Policy, you will need to stop using this “Site” and
            deactivate your account(s), as outlined below.
          </p>
          <p>
            This Privacy Policy applies to the information that we obtain
            through your use of "Site" via a "Device" or when you otherwise
            interact with Drone Legends Educator Portal. A "Device" is any
            computer used to access the “Site”, including without limitation a
            desktop, laptop, mobile phone, tablet, or other consumer electronic
            device. “Site” includes the Drone Legends Educator Portal web site
            but does not include any other own or third party products or
            services for which a separate privacy policy is provided. These are
            third party products or services that you may choose to integrate
            with Drone Legends Educator Portal services. You should always
            review the policies of third-party products and services to make
            sure you are comfortable with the ways in which they collect and use
            your information. By registering for or using Drone Legends Educator
            Portal and accepting the Terms of Service you consent to the
            collection, transfer, processing, storage, disclosure and other uses
            described in this Privacy Policy.
          </p>

          <h3>1. Who we are</h3>
          <p>
            SSB Sales & Marketing, LLC: SSB Sales & Marketing, LLC is
            responsible for the management, maintenance, and operation of the
            Drone Legends Educator Portal. SSB Sales & Marketing, LLC complies
            with Data Protection Laws. SSB Sales & Marketing, LLC will not
            knowingly do anything or permit anything to be done which might lead
            to a breach of the Data Protection Laws. Drone Legends Educator
            Portal: The Drone Legends Educator Portal is a cloud-based
            curriculum delivery platform. By accessing the Drone Legends
            Educator Portal through a set of subscription packages, our
            customers (“Customers”) can access and present to students
            curriculum module content and downloadable student materials.
            Customers access the Drone Legends Educator Portal service by means
            of a unique combination of a user identifier and secure password.
          </p>
          <h3>
            2. Collection: The Personally Identifiable Information We Collect
          </h3>
          <p>
            Users: In the course of using this Site, you may provide us with
            personally identifiable information. This refers to information
            about you that can be used to contact or identify you, and
            information on your use of and activities at our Site that may be
            connected with you ("Personal Information"). Personal Information
            that we collect may include, but is not limited to, your name and
            email address. When you visit the Site, our servers automatically
            record information that your browser sends whenever you visit a
            website. This information may include, but is not limited to, your
            Internet Protocol address, browser type, the web page you were
            visiting before you came to our Site and information you search for
            on our Site. Like many websites, we may also use "cookies" to
            collect information. A cookie is a small data file stored by your
            browser at your Device's hard disk for record-keeping purposes. We
            use "session ID cookies" in order to support login and main service
            functionality. We may also store cookies of third-party providers.
            In particular, Google stores a Google Analytics cookie in order to
            be able to differentiate between users and be able to show us how
            many times people visit the website on average (not individually)
            and information on what pages they've seen, how long the duration
            was, and so on; we do not identify who the visitor was, or what is
            his Drone Legends Educator Portal account (if any). SSB Sales &
            Marketing, LLC does not collect, store or process data from
            third-party cookies. You can instruct your browser, by changing its
            options, to stop accepting cookies or to prompt you before accepting
            a cookie from the websites you visit. If you do not accept cookies,
            however, you may not be able to use all portions of the Site or all
            functionality of our services. In some cases another User (such as
            an administrator) may create an account on your behalf and may
            provide your information, including Personal Information (most
            commonly when your company requests that you use our service). We
            collect Information under the direction of our Customers and often
            have no direct relationship with the individuals whose personal data
            we process. If you are an employee of one of our Customers and would
            no longer like us to process your information, please contact your
            employer and us at the contact information below.
          </p>
          <p>
            Customers: In addition to the data we collect for all Users, we also
            collect data that are required for your contract with us, such as
            your company affiliation, invoicing data and also service usage data
            that prove that the service is used in accordance to your
            subscription terms, We may also acquire additional data through our
            Customers’ support requests to the extent this is required for us to
            resolve a technical issue or respond to a request or complaint. We
            also email to our Customers newsletters, announcements regarding the
            Drone Legends Educator Portal and our products, or marketing
            material. If you are a Customer and no longer wish to receive such
            emails you can remove yourself from the recipients list at any time
            by selecting the "unsubscribe" link provided within the e-mail
            footer. If you are providing information (including Personal
            Information) about someone else, you must have the authority to act
            for them and to consent to the collection and use of their Personal
            Information.
          </p>
          <p>
            Credit Cards: We do not store your credit card information in our
            systems. All credit card transactions are processed using secure
            encryption - the same level of encryption used by leading banks.
            Card information is transmitted, stored, and processed securely at
            gateways on a PCI-compliant network.
          </p>
          <p>
            Other submissions: We collect other data that you submit to our
            “Site” or as you participate in any interactive features of the
            Drone Legends Educator Portal, participate in a survey, contest,
            activity or event, request Customer support, or otherwise
            communicate with us.
          </p>
          <h3>3. How We Use, Process and Retain Personal Information</h3>
          <p>
            Personal Information is or may be used for the following purposes:
          </p>
          <ul>
            <li>
              to provide and improve our Site, services, features and content
            </li>
            <li>to administer your use of our Site</li>
            <li>to enable you to enjoy and easily navigate the Site</li>
            <li>to better understand your needs and interests</li>
            <li>to fulfill requests you may make</li>
            <li>to personalize your experience</li>
            <li>
              to provide or offer software updates and product announcements
            </li>
            <li>
              to provide you with further information and offers from us or
              third parties that we believe you may find useful or interesting,
              including newsletters, marketing or promotional
            </li>
          </ul>
          <p>
            We use information we obtain by technical means (such as the logging
            performed by our servers or through the use of cookies) for the
            above purposes and in order to monitor and analyze use of the Site
            and our services, for the Site's technical administration, to
            increase our Site's functionality and user-friendliness, to better
            tailor it to your needs, to generate and derive useful data and
            information concerning the interests, characteristics and website
            use behavior, and to verify that visitors to the Site meet the
            criteria required to process their requests.
          </p>
          <p>
            We collect and process personal data in a transparent manner, to the
            extent necessary for specified, explicit and legitimate purposes,
            and do not process it further in a manner incompatible with those
            purposes. We take care that the data we collect are accurate and,
            when necessary, updated. We take all reasonable steps to immediately
            delete or rectify personal data, if inaccurate. We process data in a
            way that guarantees their security, including their protection
            against unauthorized or unlawful processing and accidental loss,
            destruction or degradation, using appropriate technical or
            organizational measures. We are ready to prove at any moment how we
            adhere to the above principles. We take the appropriate technical
            and organizational measures for the security, confidentiality,
            integrity and availability of the data. We expressly declare that
            these measures ensure that, by definition, personal data are not
            made accessible without the intervention of the natural person to an
            indeterminate number of natural persons. Each domain’s data are
            retained for as long as the Customer's subscription to the service
            lasts. Upon contract expiration the data will be deleted or returned
            to the Customer if the Customer instructs us to. Alternatively, the
            domain will be rendered “inactive” and stored offline for 12 months
            so that a service reconnection is as smooth as possible; in case
            subscription is not renewed after 12 months, the data are
            permanently deleted.
          </p>

          <h3>4. Information Sharing and Disclosure</h3>
          <p>
            Users: We will display your Personal Information in your profile
            page and elsewhere on the Site according to the preferences you set
            in your account. Any information you choose to provide should
            reflect how much you want other Drone Legends Educator Portal Users
            to know about you. We recommend that you guard your anonymity and
            sensitive information, and we encourage you to think carefully about
            what information you disclose in your profile pages. You can review
            and revise your profile information at any time. You should be aware
            that the administrator, as well as specially designated support
            personnel in order to provide support for technical issues you may
            face, may be able to: access information in and about your account;
            access communications history, including file attachments, for your
            account; disclose, restrict, or access information that you have
            provided or that is made available to you when using your account,
            including your Content; and control how your account may be accessed
            or deleted.
          </p>
          <p>
            Third Parties: We do not sell your Personal Information or Content
            and will not share or disclose any of your Personal Information with
            third parties except as described in this policy. We do not share
            Personal Information about you with third parties for their
            marketing purposes (including direct marketing purposes). Service
            Providers, Business Partners and Others: For security, service
            operation and management purposes, the Drone Legends Educator Portal
            also uses third-party services that provide the same level of
            protection as SSB Sales & Marketing, LLC. Third-party vendors and
            providers supply the necessary hardware, software, networking, and
            storage to run the Drone Legends Educator Portal service. These
            third parties have access to your Personal Information only for
            purposes of performing these tasks on our behalf.
          </p>
          <p>
            Compliance with Laws and Law Enforcement: SSB Sales & Marketing, LLC
            cooperates with government and law enforcement officials and private
            parties to enforce and comply with the law. We will disclose any
            information about you to government or law enforcement officials or
            private parties as we, in our sole discretion, believe necessary or
            appropriate to respond to claims and legal process (including but
            not limited to subpoenas), to protect the property and rights of SSB
            Sales & Marketing, LLC or a third party, to protect the safety of
            the public or any person, or to prevent or stop any activity we may
            consider to be, or to pose a risk of being, illegal, unethical,
            inappropriate or legally actionable.
          </p>
          <p>
            Children: Our services are not directed to children. We do not
            knowingly collect Personal Information from children. If we become
            aware that a child has provided us with Personal Information, we
            will take steps to delete such information. If you become aware that
            a child has provided us with Personal Information, please contact us
            at the contact information below.
          </p>
          <p>
            Business Transfers: We may share or transfer your Information
            (including your Personal Information) in connection with, or during
            negotiations of, any merger, sale of company assets, financing, or
            acquisition of all or a portion of our business to another company.
            You will be notified on any change in ownership or uses of your
            Personal Information, as well as any choices you may have regarding
            your Personal Information.
          </p>
          <h3>5. Your Rights</h3>
          <p>
            SSB Sales & Marketing, LLC respects your rights as a data subject.
            When SSB Sales & Marketing, LLC processes personal data on behalf of
            and as instructed by its Customers, our Customers are responsible
            towards the data subjects and you should contact the respective
            Customer to which the content of your service belongs for exercising
            your rights. In this case, SSB Sales & Marketing, LLC does not
            respond directly to your requests for the exercise of your rights
            that come to our knowledge, but we inform the Customer without delay
            and provide all reasonable and reasonable assistance to satisfy your
            requests in accordance with instructions of the Customer. The
            service has all the necessary features to enable our Customers to
            exercise the rights of the data subjects on their behalf. For
            example, the service provides the ability to obtain and manage
            consent, and to implement strict and secure password policies as
            well as to exercise the right to be forgotten. A synopsis of your
            rights as a data subject is provided below.
          </p>
          <p>
            Transparency, information, and answers to requests: SSB Sales &
            Marketing, LLC adheres to the principle of transparency in
            processing. For any question regarding this policy, you may contact
            us at info@dronelegends.com. We will respond without delay and in
            any case within one month upon receipt of the request.
          </p>
          <p>
            Access: You have the right to receive from SSB Sales & Marketing,
            LLC confirmation on whether your personal data are processed and in
            case this happens all required information thereof (processing
            means, goal, records etc.).
          </p>
          <p>
            Rectification: You have the right to require the rectification of
            inaccurate data relating to you without undue delay, as well as to
            fill in incomplete data if necessary for processing. If you have an
            account on our Site, you can update your account data through your
            profile.
          </p>
          <p>
            Erasure: You have the right to ask for the erasure of personal data
            concerning you without undue delay. SSB Sales & Marketing, LLC by
            means of its designated personnel will erase the data where one of
            the following grounds applies: a) the personal data are no longer
            necessary in relation to the purposes of processing; or b) the
            person requesting the erasure withdraws consent on which the
            processing is based and there is no other legal ground for the
            processing; or c) the data subject objects to the processing and
            there are no overriding legitimate grounds for the processing or the
            data subject objects to processing for direct marketing; or d) the
            personal data have to be erased for compliance with a legal
            obligation. SSB Sales & Marketing, LLC will not proceed to the
            erasure of the personal data if the data must be maintained for
            compliance with a legal obligation or in cases where the processing
            is required for the establishment, exercise or defense of legal
            claims. If you receive marketing emails, you can remove yourself
            from the recipients list by selecting the "unsubscribe" link within
            the e-mail.
          </p>
          <p>
            Restriction of processing: You have the right to request restriction
            of processing if the accuracy of personal data is disputed, for that
            period of time that allows SSB Sales & Marketing, LLC to verify the
            accuracy of personal data or based on any other legitimate reason
            specified in applicable Data Protection Laws.
          </p>
          <p>
            Data Portability: You have the right to receive your personal data
            in a structured, commonly used and machine-readable format as well
            as the right to request the direct transmission of personal data by
            SSB Sales & Marketing, LLC to another, if this is technically
            feasible.
          </p>
          <p>
            Right to Object: You may oppose the processing of personal data
            which takes place without your consent. In this case, SSB Sales &
            Marketing, LLC no longer submits the personal data unless it
            demonstrates imperative and legitimate reasons for the processing
            that outweigh the interests, rights and freedoms of you as a data
            subject or for the foundation, exercise or support of legal claims.
            If you receive promotional emails, you can remove yourself from the
            recipients list by selecting the "unsubscribe" link within the
            e-mail content. You may also oppose processing at any time by
            contacting us at the email provided at the end of this Policy.
          </p>
          <h3>6. Security</h3>
          <p>
            SSB Sales & Marketing, LLC is very concerned with safeguarding your
            information. We employ reasonable measures designed to protect your
            information from unauthorized access.
          </p>
          <h3>7. Data Ownership</h3>
          <p>
            Although SSB Sales & Marketing, LLC owns the code, databases, and
            all rights to the Drone Legends Educator Portal service, Customers
            retain ownership, control and all rights to their records and data
            which are their property.
          </p>
          <h3>8. Contacting Us</h3>
          <p>
            If you have any questions about this Privacy Policy, please contact
            us at: privacy at
            <a href="mailto:info@dronelegends.com">info@dronelegends.com.</a>
          </p>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  auth: false,
  layout: 'auth',
}
</script>
