<template>
  <v-row>
    <v-col cols="12">
      <v-breadcrumbs class="text-uppercase" large>
        <v-breadcrumbs-item>Profile data </v-breadcrumbs-item>
      </v-breadcrumbs>
    </v-col>
    <v-col sm="12" md="6" v-if="user">
      <v-subheader class="section mb-3">Account Details</v-subheader>
      <v-avatar class="avatar-initials avatar mb-3" size="80">
        <v-img v-if="user && user.avatarImage" :src="user.avatarImage"></v-img>
        <div v-else-if="user.firstName">
          {{ user.firstName[0] + ' ' + user.lastName[0] }}
        </div>
      </v-avatar>

      <v-text-field
        v-if="user.name"
        :value="user.name"
        :label="'Institution name'"
        readonly
      ></v-text-field>

      <v-text-field
        readonly
        :value="user.firstName + ' ' + user.lastName"
        label="Administrator name"
      ></v-text-field>

      <v-text-field
        readonly
        :value="user.email"
        label="Administrator email"
      ></v-text-field>

      <PopupEditProfile v-if="user" :userData="user" />

      <v-btn :to="'/changePassword'" text color="primary"
        >change password</v-btn
      >
      <v-subheader v-if="staticData.license" class="section mb-3 mt-12"
        >License Details</v-subheader
      >
      <div v-if="staticData.license">
        <div v-if="user && staticData.license" class="d-flex mb-3">
          <div class="d-flex flex-column">
            <label class="">License status</label>

            <div class="exp-date">
              <label>
                Exp. date
                {{ getFormatedDate(staticData.license.expiryDate) }}</label
              >
            </div>
          </div>

          <v-chip
            class="ma-2"
            small
            :color="
              !staticData.license
                ? 'orange'
                : currentDate < staticData.license.expiryDate
                ? 'green'
                : 'red'
            "
            text-color="white"
          >
            {{
              !staticData.license
                ? 'Inactive'
                : currentDate < staticData.license.expiryDate
                ? 'Active'
                : 'Overdue'
            }}
          </v-chip>
        </div>

        <div
          v-if="(user && user.role === 'esa') || user.role === 'schoolDistrict'"
        >
          <label>School accounts available</label>
          <v-chip
            class="ma-2"
            small
            :class="
              !staticData.license
                ? 'status-orange'
                : staticData.license.usedSchoolAccounts <
                  staticData.license.totalSchoolAccounts
                ? 'status-green'
                : 'status-red'
            "
            text-color="white"
          >
            {{
              !staticData.license
                ? 'no accounts available'
                : staticData.license.totalSchoolAccounts -
                  staticData.license.usedSchoolAccounts +
                  ' OF ' +
                  staticData.license.totalSchoolAccounts
            }}
          </v-chip>
        </div>

        <div>
          <label>Modules included</label>
          <v-chip
            v-for="(chip, index) in staticData.license.modules"
            :key="chip.name + index"
            class="ma-2"
            color="#8B83BA"
            text-color="white"
            small
          >
            {{ chip.name }}
          </v-chip>
        </div>
      </div>
    </v-col>

    <v-col sm="12" md="6" v-if="user && user.contact">
      <v-subheader class="section mb-3">Contact Details</v-subheader>
      <v-text-field
        readonly
        :value="`${user.contact.firstName} ${user.contact.lastName}`"
        label="Contact name"
      ></v-text-field>

      <v-text-field
        readonly
        :value="user.contact.email"
        label="Contact email"
      ></v-text-field>

      <v-text-field
        readonly
        :value="user.contact.phone"
        label="phone number"
      ></v-text-field>

      <v-text-field
        readonly
        :value="`${user.address.street} , ${user.address.city} , ${user.address.postCode} , ${user.address.state}`"
        label="Headquarters Address"
      ></v-text-field>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import _ from 'lodash'

export default {
  data() {
    return {
      currentDate: Date.now() / 1000,
      staticData: {},
    }
  },
  computed: {
    ...mapState('userStore', ['user']),
  },

  watch: {
    user: {
      handler: 'setData',
    },
  },

  async created() {
    await this.getUserData()
  },

  methods: {
    ...mapActions('userStore', ['getUserData', 'saveUserData']),

    setData() {
      this.staticData.license = _.cloneDeep(this.user.license)
      this.staticData.address = _.cloneDeep(this.user.address)
      this.staticData.contact = _.cloneDeep(this.user.contact)
    },
  },
}
</script>
