<template>
  <validation-observer ref="observer">
    <v-row justify="center" align="center">
      <v-col cols="12" sm="8" md="8" lg="6">
        <v-img
          :max-height="100"
          contain
          :src="'/images/DLbrandLogo.png'"
        ></v-img>
        <h2 class="text-center mb-2 white-text">Reset your Password</h2>
        <h4 class="text-center mb-2 white-text">
          Set new password and confirm in second field.
        </h4>
        <div class="auth-card">
          <v-form>
            <v-alert v-if="isSuccess" type="success"
              >All good! You will be redirected to login page in a
              few...</v-alert
            >
            <ValidationProvider
              name="newPassword"
              rules="required|passwordSecure"
              ref="newPassword"
              v-slot="{ errors }"
            >
              <v-text-field
                v-model="newPassword"
                name="newPassword"
                type="password"
                background-color="rgba(255,255,255, 0.5)"
                :error-messages="errors"
                label="New Password"
                ref="newPassword"
                filled
                outlined
              ></v-text-field>
            </ValidationProvider>
            <ValidationProvider
              rules="required|passwordSecure|confirmed:newPassword"
              v-slot="{ errors }"
            >
              <v-text-field
                v-model="newPasswordConf"
                background-color="rgba(255,255,255, 0.5)"
                label="Confirm Password"
                type="password"
                :error-messages="errors"
                filled
                outlined
              ></v-text-field>
            </ValidationProvider>
            <v-alert v-if="error" text type="error">{{ error }}</v-alert>
          </v-form>
          <v-btn
            color="primary"
            x-large
            block
            :loading="isLoading"
            @click="setNewPassword()"
          >
            Reset password
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </validation-observer>
</template>
<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
export default {
  components: { ValidationProvider, ValidationObserver },
  auth: false,
  layout: 'auth',
  data() {
    return {
      error: '',
      newPassword: '',
      newPasswordConf: '',
      resetCode: '',
      isSuccess: false,
      isLoading: false,
    }
  },
  methods: {
    async setNewPassword() {
      this.error = ''
      this.isLoading = true
      const isValid = await this.$refs.observer.validate()
      if (isValid) {
        const queryString = window.location.search
        const urlParams = new URLSearchParams(queryString)
        this.resetCode = urlParams.get('resetToken')

        try {
          const response = await this.$axios.$put(
            process.env.API_URL + '/api/account/resetPassword',
            {
              resetCode: this.resetCode,
              newPassword: this.newPassword,
              newPasswordConf: this.newPasswordConf,
            }
          )
          this.isSuccess = true
          this.isLoading = false
          this.$auth.logout('local')
          setTimeout(() => {
            this.$router.push('/login')
          }, 3000)
        } catch (err) {
          this.isSuccess = false
          this.isLoading = false
          this.error =
            err.response.data.Message || 'something went wrong please try again'
          console.log('errors', err.response.data.Message)
        }
      } else {
        this.isLoading = false
      }
    },
  },
}
</script>
