<template>
  <ValidationObserver ref="observer" v-slot="{ invalid }">
    <v-row justify="center" align="center">
      <v-col cols="12" sm="8" md="6" lg="5">
        <v-img
          :max-height="100"
          contain
          :src="'/images/DLbrandLogo.png'"
        ></v-img>
        <h1 class="text-center mb-2 white-text">Set your password</h1>
        <div class="auth-card">
          <p>
            To complete the registration on DL portal you need to, set a
            password. Then you will be able to login to your account with your
            email and password
          </p>

          <v-form>
            <v-alert v-if="isSuccess" type="success"
              >All good! You will be redirected to login page in a
              few...</v-alert
            >
            <ValidationProvider
              name="newPassword"
              rules="required|passwordSecure"
              ref="newPassword"
              v-slot="{ errors }"
            >
              <v-text-field
                v-model="newPassword"
                name="newPassword"
                type="password"
                background-color="rgba(255,255,255, 0.5)"
                :error-messages="errors"
                label="Password"
                ref="newPassword"
                filled
                outlined
                required
              ></v-text-field>
            </ValidationProvider>
            <ValidationProvider
              rules="required|confirmed:newPassword"
              v-slot="{ errors }"
            >
              <v-text-field
                v-model="newPasswordConf"
                label="Confirm Password"
                type="password"
                background-color="rgba(255,255,255, 0.5)"
                :error-messages="errors"
                filled
                outlined
                required
              ></v-text-field>
            </ValidationProvider>
            <v-alert v-if="error" type="error">{{ error }}</v-alert>
          </v-form>
          <p>
            By clicking "CONFIRM PASSWORD", you agree to the
            <NuxtLink :to="'/terms'"> terms and conditions</NuxtLink> and
            <NuxtLink :to="'/privacy'"> privacy policy</NuxtLink>
          </p>
          <v-btn
            color="primary"
            :loading="isLoading"
            x-large
            block
            @click="setNewPassword()"
          >
            Confirm Password
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </ValidationObserver>
</template>
<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
export default {
  components: { ValidationProvider, ValidationObserver },
  auth: false,
  layout: 'auth',
  data() {
    return {
      error: '',
      newPassword: '',
      newPasswordConf: '',
      resetCode: '',
      isSuccess: false,
      isLoading: false,
    }
  },
  methods: {
    async setNewPassword() {
      const queryString = window.location.search
      const urlParams = new URLSearchParams(queryString)
      this.token = urlParams.get('inviteToken')
      this.isLoading = true
      try {
        const response = await this.$axios.$put(
          process.env.API_URL + '/api/account/resetPassword',
          {
            resetCode: this.token,
            newPassword: this.newPassword,
            newPasswordConf: this.newPasswordConf,
          }
        )
        this.isSuccess = true
        this.isLoading = false
        this.$auth.logout('local')
        setTimeout(() => {
          this.$router.push('/login')
        }, 3000)
      } catch (err) {
        console.log(err)
        if (err.response) {
          if (err.response.data.errors) {
            this.error = _.valuesIn(err.response.data.errors)
            // this.error.replace(/[]!y]/, ' ')
          } else {
            this.error = err.response.data.message
          }
        } else {
          this.error =
            'Something is wrong with the network. Please try again. If login fails again, send us mail on support@dronelegends.com. or call 609-781-1876.'
        }
        this.isLoading = false
      }
    },
  },
}
</script>
