<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8">
      <v-img :max-height="100" contain :src="'/images/DLbrandLogo.png'"></v-img>
      <h1 class="text-center mb-2 white-text">Terms and Conditions</h1>
      <v-card>
        <v-card-text>
          <p>
            Before you register for the Drone Legends Educator Portal for the
            first time, carefully review these conditions of usage. Registering
            for the Drone Legends Educator Portal indicates your acceptance of
            the Drone Legends Educator Portal User Agreement and its terms and
            conditions set forth below. This Participant User Agreement
            ("Agreement") is made in the state of New Jersey by SSB Sales &
            Marketing, LLC (DBA Drone Legends) with the person downloading,
            using, or accessing the Drone Legends Educator Portal ("Portal") and
            other copyrighted materials made available to the registered user
            ("Participant" or "You") on the Portal.
          </p>
          <h3>BACKGROUND</h3>
          <p>
            SSB Sales & Marketing, LLC is a limited liability corporation
            organized and incorporated under the laws of the state of New Jersey
            to provide professional development and educational curriculum
            educators. SSB Sales & Marketing, LLC developed STEM educational
            curriculum and related support content made available online through
            the Drone Legends Educator Portal, and these curricula are protected
            by copyright under the laws of the United States.
          </p>
          <p>
            This Agreement sets forth the terms and conditions governing the use
            of the Drone Legends Educator Portal by Participant. By becoming a
            participant user of the Portal and using the Curriculum, you are
            entering into a binding and enforceable agreement to be bound by all
            of the terms and conditions of this Agreement.
          </p>
          <p>
            This Agreement expressly incorporates by reference and includes,
            without limitation, the Portal’s Terms and Conditions, Privacy
            Policy, and any additional guidelines, rules and/or disclaimers that
            may be posted or updated on specific Web pages of the Portal, or on
            notices that are provided to You.
          </p>
          <p>
            Please carefully review the terms of this Agreement before
            completing your registration to the Portal. If You do not wish to
            accept this Agreement, do not proceed with the registration.
          </p>
          <p>
            Thus, if You register for and use the Portal, You are agreeing to
            the following in exchange for the mutual commitments and obligations
            set forth in this Agreement:
          </p>
          <h3>1. Binding Terms and Changes</h3>
          <p>
            By becoming a registered user of the Portal and by using the
            Curriculum, You acknowledge that You have read and understood this
            Agreement, and You agree to be bound by all of the terms and
            conditions of this Agreement. SSB SALES & MARKETING, LLC may change
            the terms of this Agreement from time to time. Any changes to this
            Agreement will be posted on the Portal and will become effective and
            be binding on You immediately upon posting. SSB SALES & MARKETING,
            LLC may also change the terms by notifying you by any other
            reasonable form of notification, effective immediately upon notice
            being provided. Your continued use of the Curriculum following such
            notice constitutes Your acceptance of those changes.
          </p>
          <h3>2. Password Use and Security</h3>
          <p>
            By entering into this Agreement, You acknowledge that the Curriculum
            is for Your exclusive use only. Use or sharing of Your Username and
            Password by another user is not permitted and is cause for immediate
            termination of this Agreement without notice to You. You are solely
            responsible for maintaining the confidentiality of Your Username and
            Password and for all activities that occur under Your Username and
            Password. You agree to immediately notify our Customer Service
            Department if You become aware of or have reason to believe that
            there is any unauthorized use of Your account or any other breach of
            security. You also agree to take all reasonable steps to stop such
            unauthorized use and to cooperate with SSB SALES & MARKETING, LLC in
            any investigation of such unauthorized uses or of infringements of
            SSB SALES & MARKETING, LLC’s intellectual property rights in the
            Curriculum. SSB SALES & MARKETING, LLC shall have the sole right, at
            its expense, to bring any action on account of such infringements or
            unauthorized uses. SSB SALES & MARKETING, LLC is in no way liable
            for any claims related to the use or misuse of Your Username and
            Password due to the activities of any third party outside of our
            control or due to Your failure to maintain their confidentiality and
            security
          </p>
          <h3>3. Use of the Drone Legends Educator Portal offerings</h3>
          <p>
            SSB SALES & MARKETING, LLC grants to its registered users a
            non-transferable, non-exclusive, and revocable license to the
            Participant to use the Curriculum for the registration term specific
            to each program type as stated in the program descriptions from date
            of purchase according to the terms and conditions set forth in this
            Agreement. Curriculum is solely for Participant’s educational,
            noncommercial use; you may not use the Curriculum in any way in
            exchange for monetary consideration. Individuals other than the
            Participant may not access or view this electronic file or use
            supporting materials, whether electronically or in print. You may
            not disseminate any portion of the Curriculum through electronic
            means, including emails lists or bulletin boards, without the prior
            consent of SSB SALES & MARKETING, LLC. The Participant may only use
            this online access in a way that conforms to all applicable laws and
            regulations. Except as expressly granted by this Agreement, You
            acquire no right, title or license in the Curriculum or the content
            or other data or materials incorporated in the Curriculum and may
            not sublicense, sell, or resell the whole or any part of the
            Curriculum or its contents. Except as expressed granted by this
            Agreement, You may not reproduce, transmit, distribute, or use the
            Curriculum or the content or other data or materials incorporated in
            the Curriculum without SSB SALES & MARKETING, LLC’s permission. You
            may not commingle any portion of the Curriculum with any other
            information and shall not edit, modify, or alter any portion. For
            permission to copy beyond what is expressly provided herein, contact
            us at info@dronelegends.com. Any violation of this Agreement or
            abuse of the policies of the Curriculum will result in the immediate
            and permanent cessation of access to all SSB SALES & MARKETING, LLC
            servers and services and of your license to use the Curriculum and
            will be pursued to the fullest extent permitted under all applicable
            laws, treaties, and conventions.
          </p>
          <h3>4. Copyright</h3>
          <p>
            SSB SALES & MARKETING, LLC curriculum modules and supporting
            materials are copyrighted © 2021 by SSB SALES & MARKETING, LLC: All
            rights reserved. While SSB SALES & MARKETING, LLC grants You the
            nonexclusive and limited right to use the Curriculum as set forth in
            this Agreement, You acknowledge that SSB SALES & MARKETING, LLC is
            the sole and exclusive owner of the entire copyright and other
            proprietary rights in and to the Curriculum and in and to the
            content and other data and materials incorporated in the Curriculum.
            All uses of the Curriculum are subject to SSB SALES & MARKETING,
            LLC’s copyright and other intellectual property rights.
          </p>
          <h3>5. Limitation of Liability</h3>
          <p>
            You agree that the liability of SSB SALES & MARKETING, LLC, its
            affiliates, directors, officers, employees, agents and licensors, if
            any, arising out of any kind of legal claim (whether in contract,
            tort or otherwise) in any way connected with the service or the
            content therein shall not exceed the amount you paid to SSB SALES &
            MARKETING, LLC for this service. In no event shall SSB SALES &
            MARKETING, LLC, its affiliates, directors, officers, employees,
            agents and licensors be liable to you or to any third party for any
            special, incidental, indirect, consequential, or punitive damages of
            any kind, or any damages whatsoever resulting from loss of use, data
            or profits, whether or not advised of the possibility of damage, and
            on any theory of liability (whether in contract, tort or otherwise),
            arising out of or in connection with the use or performance of the
            Curriculum or the content therein. The service is provided "as is,"
            and you rely on the Curriculum and its contents at your own risk.
            There are no representations or warranties of any kind, either
            express or implied, including, but not limited to: No
            representations or warranties of merchantability or fitness for a
            particular purpose; no representations or warranties as to the
            accuracy or completeness of the service; and no representations or
            warranties that the service or anything else provided pursuant to
            this agreement will not infringe proprietary rights of third
            parties. Drone Legends programs are continually under development
            and changes may be made to the programs at any time.
          </p>
          <h3>6. Term and Termination</h3>
          <p>
            This Agreement will become effective upon Your acceptance of the
            terms of this Agreement by Your registration and, subject to the
            terms and conditions of this Agreement, will remain in effect while
            the Participant maintains a current, fully paid online registration
            to the program, or until terminated by SSB SALES & MARKETING, LLC.
            SSB SALES & MARKETING, LLC may discontinue or change the program, or
            its availability to You, at any time without notice. The program
            registration, once purchased, is not returnable.
          </p>
          <h3>7. No Assignment</h3>
          <p>
            This agreement is personal to You, and You may not assign Your
            rights or obligations to anyone.
          </p>
          <h3>8. No Waiver</h3>
          <p>
            Neither failure or delay on the part of any party to exercise any
            right, remedy, power, or privilege hereunder nor course of dealing
            between the parties shall operate as a waiver thereof, or of the
            exercise of any other right, remedy, power, or privilege. No term of
            this Agreement shall be deemed waived, and no breach consented to,
            unless such waiver or consent shall be in writing and signed by the
            party claimed to have waived or consented. No waiver of any rights
            or consent to any breaches shall constitute a waiver of any other
            rights or consent to any other breach.
          </p>
          <h3>9. Severability</h3>
          <p>
            If any provision in this Agreement is held invalid or unenforceable
            under applicable law, the remaining provisions shall continue in
            full force and effect, and the Agreement shall be deemed reformed by
            replacing such invalidated or unenforceable provision with a valid
            and enforceable provision that corresponds as closely as possible to
            the intentions of the parties as expressed by the invalidated or
            unenforceable provision.
          </p>
          <h3>10. Governing Law and Venue</h3>
          <p>
            This Agreement will be governed by and construed in accordance with
            the laws of the state of New Jersey, without regard to conflicts of
            law principles and without regard to any presumption or rule
            requiring construction or interpretation against the party drafting
            or causing any instrument to be drafted. You hereby submit to and
            agree that the sole jurisdiction and venue for any actions that may
            arise under or in relation to the subject matter hereof shall be the
            courts located in the state of New Jersey. This Agreement will not
            be governed by the United Nations Convention on Contracts for the
            International Sale of Goods
          </p>
          <h3>12. Entire Agreement</h3>
          <p>
            As stated above, the Terms and Conditions, Privacy Policy, and any
            additional guidelines, rules and/or disclaimers posted on the Portal
            or on notices provided to you are incorporated into this Agreement
            by reference as if fully restated herein. This Agreement constitutes
            the entire agreement between You and SSB SALES & MARKETING, LLC
            governing Your use of our Drone Legends Educator Portal and
            supersedes any prior agreements, if any, between You and SSB SALES &
            MARKETING, LLC relating to any matter dealt with in this Agreement
          </p>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  auth: false,
  layout: 'auth',
}
</script>
