<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="8" lg="6">
      <v-img :max-height="100" contain :src="'/images/DLbrandLogo.png'"></v-img>

      <div class="auth-card">
        <div v-if="!error">
          <h2 class="text-center mb-2">Unsubscribe from Invitation emails</h2>
          <h4 class="text-center mb-2">
            If you feel you have received this email in error and are not
            interested in registering for the Drone Legends Educator Portal
            please click the “UNSUSBSCRIBE” button below to stop receiving
            invitation emails.
          </h4>
          <v-btn
            color="primary"
            x-large
            block
            :loading="isLoading"
            @click="handleUnsubscribe()"
          >
            Unsubscribe
          </v-btn>
        </div>
        <div v-if="error">
          <h2 class="text-center mb-2">Sorry</h2>
          <h3 class="text-center mb-2">
            {{ error }}
          </h3>
        </div>

        <div v-if="isSuccess">
          <h2 class="text-center mb-2">Succesfully Unsubscribed</h2>
          <h3 class="text-center mb-2">
            You will no longer recieve invitation emails!
          </h3>
        </div>
      </div>
    </v-col>
  </v-row>
</template>
<script>
import AccountService from './../services/accountService'
export default {
  auth: false,
  layout: 'auth',
  data() {
    return {
      error: '',
      isSuccess: false,
      isLoading: false,
    }
  },

  methods: {
    async handleUnsubscribe() {
      this.isLoading = true

      const queryString = window.location.search
      const urlParams = new URLSearchParams(queryString)
      const token = urlParams.get('token')

      AccountService.unsubscribe(token)
        .then(() => {
          this.isLoading = false
          this.isSuccess = true
        })
        .catch((error) => {
          this.error = error.response.data.message
          this.isLoading = false
        })
    },
  },
}
</script>
