<template>
  <v-row justify="start" align="start">
    <v-col cols="12">
      <v-breadcrumbs :items="breadCrumbs" large> </v-breadcrumbs>
    </v-col>
    <v-col
      class="mr-xl-auto mr-lg-auto"
      cols="12"
      sm="12"
      md="12"
      lg="12"
      xl="10"
    >
      <v-row>
        <v-col
          v-for="item in lessons"
          :key="item.name"
          class="d-flex align-stretch"
          cols="12"
          sm="12"
          md="6"
          lg="4"
          xl="4"
        >
          <v-hover>
            <template v-slot:default="{ hover }">
              <v-card
                @click="goToLesson(item.id)"
                class="
                  transition-swing
                  d-flex
                  flex-column
                  justify-space-between
                "
                height="100%"
                :key="item.name"
                :elevation="hover ? 24 : 12"
                rounded
              >
                <v-img
                  v-if="item.image"
                  class="white--text align-end card-img"
                  :src="item.image"
                >
                </v-img>
                <v-img
                  v-else
                  class="white--text align-end"
                  height="200px"
                  src="/images/dummy.jpg"
                >
                </v-img>
                <v-card-title>{{ item.name }}</v-card-title>

                <v-card-text class="text--primary">
                  <div>{{ item.description }}</div>
                </v-card-text>

                <v-card-actions class="mt-auto">
                  <v-btn color="primary" text> GO TO LESSON </v-btn>
                </v-card-actions>
              </v-card>
            </template>
          </v-hover>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {

  async asyncData({ params }) {
    const slug = params
    return { slug }
  },

  middleware: ['checkRole'],

  computed: {

    ...mapGetters('lessonsStore', {
      lessons: 'lessons',
    }),

    user: function () {
      
      return this.$auth.$storage.getUniversal('user')
    },
  },

  data() {

    return {
      breadCrumbs: [],
    }
  },

  async mounted() {

    await this.getLessons(this.slug.slug)
    this.getBreadCrumbs()
  },

  methods: {

    ...mapActions('lessonsStore', {
      getLessons: 'getLessons',
    }),

    goToLesson(id) {

      this.$router.push({
        name: 'module-slug-lesson-id',
        params: {
          slug: this.slug.slug,
          id,
        },
      })
    },

    getBreadCrumbs() {

      this.breadCrumbs.push(
        {
          text: 'MODULES',
          href: '/',
        },
        {
          text: this.lessons[0].parent.name.toUpperCase(),
        }
      )
    },
  },
}
</script>
