<template>
  <div class="d-flex mb-6 align-center">
    <div class="d-flex flex-column">
      <div class="mr-6 d-flex align-start">
        <div>
          <v-avatar class="avatar" size="160">
            <croppa
              v-if="userData"
              v-model="croppaData"
              :placeholder="
                ((userData.firstName && userData.firstName[0]) || 'J') +
                (userData.lastName[0] || 'D')
              "
              :initial-image="userData.avatarImage || undefined"
              placeholder-color="#fafafa"
              :placeholder-font-size="68"
              :zoom-speed="20"
              :accept="'image/*'"
              :file-size-limit="2097152"
              :prevent-white-space="true"
              :show-remove-button="false"
              @file-choose="addImage"
              @image-remove="removeImage"
              @file-size-exceed="showExceedMsg"
              @file-type-mismatch="showTypeMismatchMsg"
              @draw="debounceUpdate()"
              ><img
                crossOrigin="anonymous"
                :src="userData.avatarImage"
                slot="initial"
            /></croppa>
          </v-avatar>
          <div class="d-flex justify-center">
            <v-btn
              class="mx-1"
              @click="croppaData.zoomOut()"
              fab
              dark
              x-small
              color="primary"
            >
              <v-icon dark> mdi-minus </v-icon>
            </v-btn>
            <v-btn
              class="mx-1"
              @click="croppaData.zoomIn()"
              fab
              dark
              outlined
              x-small
              color="primary"
            >
              <v-icon dark> mdi-plus </v-icon>
            </v-btn>
          </div>
          <div class="d-flex justify-center mt-2"></div>
        </div>

        <v-btn
          v-if="croppaData.imageSet"
          class="croppa-remove-button"
          @click="croppaData.remove()"
          fab
          dark
          outlined
          x-small
          color="error"
          ><v-icon dark> mdi-close </v-icon>
        </v-btn>
      </div>
    </div>

    <div>
      <div v-if="croppaData.imageSet">
        If you want to remove the image click the x button. Click the change
        avatar button to change the current avatar. Once it's changed you can
        use + and - to zoom in and out and drag the avatar to reposition.
      </div>
      <div class="mt-2" v-if="croppaData.imageSet">
        <v-btn @click="changePhoto()" dark outlined small color="primary">
          change avatar
        </v-btn>
      </div>

      <div v-if="!croppaData.imageSet">
        Click the avatar to add the avatar image. <br />Once it's set you can
        drag it to reposition.
      </div>
      <v-alert v-if="error" dense text type="error">{{ error }}</v-alert>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
export default {
  props: {
    userData: {
      required: true,
      type: Object,
    },
  },

  data() {
    return {
      error: null,
      croppaData: {},
      outputImage: '',
      croppaControls: false,
    }
  },

  methods: {
    hasImage() {
      this.croppaControls = this.croppaData.hasImage()
    },

    updateData() {
      const avatarImage = this.croppaData.generateDataUrl()
      this.$emit('update', avatarImage)
    },

    debounceUpdate() {
      const _self = this
      setTimeout(function () {
        _self.updateData()
      }, 1000)
    },

    changePhoto() {
      this.croppaData.chooseFile()
    },

    addImage() {
      this.error = ''
      this.hasImage()
    },

    removeImage() {
      this.hasImage()
    },

    showExceedMsg() {
      this.error = 'File size limit is 2mb.'
    },

    showTypeMismatchMsg() {
      this.error = 'Only image file types are allowed.'
    },
  },
}
</script>