<template>
  <v-menu
    v-if="!parent"
    ref="isDatePickerOpen"
    v-model="isDatePickerOpen"
    :close-on-content-click="false"
    transition="scale-transition"
    offset-y
    min-width="auto"
  >
    <template v-slot:activator="{ on, attrs }">
      <ValidationProvider
        v-slot="{ errors }"
        name="expiryDate"
        rules="required"
      >
        <v-text-field
          v-model="expiryDate"
          label="License expiry date"
          prepend-inner-icon="mdi-calendar"
          v-bind="attrs"
          readonly
          outlined
          dense
          :error-messages="errors"
          v-on="on"
        ></v-text-field>
      </ValidationProvider>
    </template>

    <v-date-picker
      v-model="expiryDate"
      no-title
      @input="setDate('licenseData', 'expiryDate')"
    ></v-date-picker>
  </v-menu>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    ValidationObserver,
    ValidationProvider,
  },

  props: {
    institutionType: {
      required: false,
    },

    institutionName: {
      required: false,
    },

    subtitle: {
      type: String,
    },

    parent: {
      type: Boolean,
    },
  },

  data() {
    return {
      expiryDate: null,
      isDatePickerOpen: false,
    }
  },

  computed: {
    ...mapGetters('institutionStore', { errorMsg: 'error' }),
  },

  methods: {
    setDate() {
      this.$emit('update', this.parseDate(this.expiryDate))
      this.isDatePickerOpen = false
    },
  },
}
</script>