<template>
  <ValidationProvider v-slot="{ errors }" :name="fieldName" :rules="rules" slim>
    <v-text-field
      v-model="val"
      :label="label"
      :class="'pt-1'"
      :error-messages="errors"
      @input="$emit('update', val)"
      :hint="hint"
      :suffix="suffix"
      persistent-hint
      required
      outlined
      dense
    ></v-text-field>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  components: {
    ValidationProvider,
  },
  props: {
    fieldName: {
      required: true,
      type: String,
    },

    rules: {
      required: false,
      type: String,
    },

    label: {
      required: true,
      type: String,
    },

    hint: {
      required: false,
      type: String,
    },

    suffix: {
      required: false,
      type: String,
    },

    initValue: {
      reguired: false,
      type: String | Number,
    },
  },
  data: () => ({
    val: '',
  }),

  created() {
    if (this.initValue) {
      this.val = this.initValue
    }
  },
}
</script>
